
// Fonts
// @import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');
// @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// coreui
// @import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css');
// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');

// Variables
@import '../../variables';

// Boostrap core
@import '../../bootstrap';

// Selected template
@import '../default';
