<template>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">
                   Menu
                </li>
                <li class="nav-item" :class="{ 'nav-active' : $route.name=='Dashboard' }">
                 <router-link to="/admin"><a class="nav-link"><i class="fa fa-dashboard"></i> Dashboard</a></router-link>
                </li>
                <li class="nav-item" :class="{ 'nav-active' : $route.name=='Users' }">
                 <router-link to="/admin/users"><a class="nav-link"><i class="fa fa-user"></i>Users</a></router-link>
                </li>
                <li class="nav-item" :class="{ 'nav-active' : $route.name=='Roles' }">
                    <router-link to="/admin/roles"><a class="nav-link"><i class="fa fa-car"></i>Roles</a></router-link>
                </li>
                <li class="nav-item" :class="{ 'nav-active' : $route.name=='Paths' }">
                    <router-link to="/admin/paths"><a class="nav-link"><i class="fa fa-pagelines"></i>Paths</a></router-link>
                </li>
                <li class="nav-item" :class="{ 'nav-active' : $route.name=='Bugs' }">
                    <router-link to="/admin/bugs"><a class="nav-link"><i class="fa fa-bug"></i>Bugs</a></router-link>
                </li>
                <li class="nav-item" :class="{ 'nav-active' : $route.name=='ProjectDocumentation' }">
                    <router-link to="/admin/project-documentation"><a class="nav-link"><i class="fa fa-file"></i>Docs</a></router-link>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
</template>
<style scoped>
    .nav-active {
        background: white;
    }

</style>
<script>
    export default {
        name: 'sidebar'
    }
</script>
