<template>
    <div class="row">
        <div class="alert alert-warning alert-dismissable fade show" role="alert">
            <span>👋</span>
                Want to submit an issue to Automated Paths?
            <p>If you have a bug or an idea, browse the open issues before opening a new one</p>
            <router-link to="/admin/report-bugs-or-comment" class="btn btn-success">New Issue</router-link><a class="close" data-dismiss="alert" aria-label="Close"><span aria-hiden="true">x</span></a>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-exclamation-circle"></i>{{issues.open}} <a  href="#" @click="bugStatus(1)">Open</a>
                    <i class="fa fa-check"></i>{{issues.closed}}<a  href="#" @click="bugStatus(0)">Closed</a>
                    <div class="card-actions">
                        <div class="input-group-prepend">
                            <input type="text" name="q" value="" v-model="searchItem">
                            <a href="#" class="btn-refresh"><i class="icon-magnifier" @click="searchBug"></i></a>
                            <a href="#" class="btn-refresh" v-if="searching"><i class="fa fa-spinner fa-spin"></i></a>
                            <a href="#" class="btn-refresh"><i class="icon-refresh"  @click="reset"></i></a>
                            <a href="#" class="btn-minimize" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"><i class="icon-arrow-up"></i></a>
                            <router-link to="/admin/report-bugs-or-comment"><i rel="popover" class="icon-plus" data-placement="top" data-toggle="tooltip" title="Report Bug"></i></router-link>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="collapseExample">
                    <table class="table table-responsive-sm table-hover">
                        <thead>
                            <tr>
                                <th>AssignedTo</th>
                                <th>Type</th>
                                <th>Bug#</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(bug, index) in bugs">
                                <template v-if="bug.status == selected">
                                    <td>
                                        {{bug.user}}
                                        <select @change="submitAssign(bug.id)" id="select3" name="select3" class="form-control form-control-sm col-4" v-model="selectedUser"  v-if="showAssign == bug.id">
                                            <option v-for="user in allUsers" v-bind:value="user.name">{{user.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span class="badge" :class="{ 'badge-danger': bug.type === 'bug', 'badge-warning': bug.type === 'comment', 'badge-secondary': bug.type === 'task'}">{{bug.type}}</span>
                                    </td>
                                    <td><span class="badge badge-secondary">{{bug.bugnumber}}</span></td>
                                    <td>
                                        <router-link :to="{ name: 'BugProfile', params: { id: bug.id, description: bug.description, assignee: bug.user }}">
                                            <span class="badge badge-default">{{subString(bug.description)}}</span>
                                        </router-link>
                                    </td>
                                    <td>
                                        <span class="badge badge-primary badge-pill">created&nbsp;{{bug.created_at}} by {{ bug.created_by }}</span>
                                    </td>
                                    <td>
                                        <a href="#" @click="showAssign = bug.id"><i class="fa fa-user"></i></a>
                                        <label class="switch switch-text switch-pill switch-primary">
                                            <input name="my-checkbox" type="checkbox" class="switch-input" :checked="bug.status" :value="bug.status" >
                                            <span class="switch-label" data-on="On" data-off="Off" @click="switchOnOff(bug.id, bug.status, index)"></span>
                                            <span class="switch-handle" @click="switchOnOff(bug.id, bug.status, index)"></span>
                                        </label>
                                    </td>
                                </template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <pagination :pagination="pagination" @paginate="getAllBugs()" :offset="4"></pagination>
        </div>
    </div>
</template>
<script>
    export default {
		components: {
		},
        name: "bugs",
        data() {
            return {
                name: 'Bugs',
    			selected: 'bug',
                bugs: '',
    			type: 'bug',
    			bugtype: [
    				{ type: 'bug'},
    				{ type: 'comment'},
                    { type: 'task'},
    			],
    			bugstatus: '',
    			checked: '',
                bgc: {
                    backgroundColor: '',
                    border: ''
                },
                clickable: false,
                assignto: '',
				allUsers: '',
				selectedUser: '',
				showAssign: false,
				pagination : {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                issues: {
                    open: 0,
                    closed: 0,
                },
                searching: false,
                searchItem: '',
            }
        },
        mounted() {
            this.getAllBugs()
			this.getAllUsers()
            this.bugStatus(1)
        },
        methods: {
            reset() {
                window.location.reload()
            },
            searchBug(e) {
                e.preventDefault();
                this.searchItem = this.searchItem.replace(/[^a-zA-Z 0-9]+/g,'');
                this.getAllBugs();
            },
			getAllUsers() {
				axios.get('/api/all-users')
				.then((users) => {
					this.allUsers = users['data'].data
				})
				.catch((err) => {
					err.toString()
				})
			},
			submitAssign(id) {
				const confirmation = confirm(`Are you sure to assign this bug to ${this.selectedUser} ?, you can always revert this during your lifetime`)
				if(!confirmation) return false;
				axios.patch(`/api/bugs/${id}`, {
					assignto: this.selectedUser
				})
				.then((data) => {
					this.showAssign = false
					let fuck = this.bugs.find((bug) => bug.id === data['data'].id)
                    if (fuck) {
                        let index = this.bugs.indexOf(fuck);
                        this.bugs[index].assignto = this.selectedUser;
                        this.$toaster.success(`Success updating status`);
                	}
				})
				.catch((err) => {
                    switch (err.response.data) {
                        case 'UnAuthorized':
                            this.$toaster.error(err.response.data);
                            break;
                        default:
                            console.log(err.toString())
                            break;
                    }
				})
			},
    		switchOnOff(id,status, index){
    			const confirmation = confirm("Are you sure to update the status?, you can revert this during your lifetime")
    			if(!confirmation) {
    				event.preventDefault()
    				return false;
    			}
    			axios.patch('/api/bugs/' + id, {
    				status: status
    			})
    			.then((data) => {
                    // update status counts
                    switch (status) {
                        case 1:
                            this.issues.open = this.issues.open - 1;
                            this.issues.closed = this.issues.closed + 1;
                            break;
                        case 0:
                            this.issues.open = this.issues.open + 1;
                            this.issues.closed = this.issues.closed - 1;
                            break;
                        default:
                            break;
                    }
                    let fuck = this.bugs.find((bug) => bug.id === data['data'].id)
                    if (fuck) {
                        let index = this.bugs.indexOf(fuck);
                        this.bugs[index].description = data['data'].description;
                        this.bugs[index].bugnumber = data['data'].bugnumber;
                        this.bugs[index].created_by = data['data'].created_by;
                        this.bugs[index].updated_by = data['data'].updated_by;
                        this.bugs[index].type = data['data'].type;
                        this.bugs[index].status = data['data'].status;
                        this.$toaster.success(`status updated`);
                	}
    			})
    			.catch((err) => {
                    switch (err.response.data) {
                        case 'UnAuthorized':
                            this.$toaster.error(err.response.data);
                            break;
                        default:
                            console.log(err.toString())
                            break;
                    }
    			})
    		},
    		bugStatus(status){
    			this.selected = status
    		},
            getAllBugs() {
                this.searching = true
				axios.get(`/api/bugs?page=${this.pagination.current_page}`, {
                    params: {
                        searchItem: this.searchItem
                    }
                })
                .then((bugs) => {
                    if (bugs['data'].data.length == 0) {
                        this.$toaster.warning("Your query returns zero results, try another keywords!");
                    } else {
                        this.bugs = bugs['data'].data;
    					this.pagination = bugs['data'].meta
                        this.issues.open = this.pagination.open
                        this.issues.closed = this.pagination.close
                        this.bugStatus(this.bugs[0].status)
                        console.log(this.bugs[0].status, 'bugs')
                    }
                    this.searching = false;
                })
                .catch((err) => {
                    console.log(err.toString())
                })
            },
            subString(words){
				const newWord =  words.substr(0, 20);
                return newWord + '...';
			}
        },
    }
</script>
