<template>
	<div class="row">
		<div class="container-fluid">
			<div id="ui-view" style="opacity: 1;">
				<div class="animated fadeIn">
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="card text-white bg-primary">
								<div class="card-body pb-0">
									<div class="btn-group float-right">
										<button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<i class="icon-settings"></i>
										</button>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#">Action</a>
											<a class="dropdown-item" href="#">Another action</a>
											<a class="dropdown-item" href="#">Something else here</a>
										</div>
									</div>
									<h4 class="mb-0">9.823</h4>
									<p>Survey Takers online</p>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									Traffic &amp; Sales &nbsp; Real Time Survey Takers Analytics
								</div>
								<div class="card-body">
									<table class="table table-responsive-sm table-hover table-outline mb-0">
										<thead class="thead-light">
											<tr>
												<th class="text-center"><i class="icon-people"></i></th>
												<th>Survey Taker</th>
												<th class="text-center">Country</th>
												<th>Usage</th>
												<!-- <th class="text-center">Payment Method</th> -->
												<th>Activity</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">
													<div class="avatar">
														<img src="img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
														<span class="avatar-status badge-success"></span>
													</div>
												</td>
												<td>
													<div>Yiorgos Avraamu</div>
													<div class="small text-muted">
														<span>New</span> | Registered: Jan 1, 2015
													</div>
												</td>
												<td class="text-center">
													<i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i>
												</td>
												<td>
													<div class="clearfix">
														<div class="float-left">
															<strong>50%</strong>
														</div>
														<div class="float-right">
															<small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
														</div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<!-- <td class="text-center">
													<i class="fa fa-cc-mastercard" style="font-size:24px"></i>
												</td> -->
												<td>
													<div class="small text-muted">Last login</div>
													<strong>10 sec ago</strong>
												</td>
											</tr>
											<!-- <tr>
												<td class="text-center">
													<div class="avatar">
														<img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
														<span class="avatar-status badge-danger"></span>
													</div>
												</td>
												<td>
													<div>Avram Tarasios</div>
													<div class="small text-muted">
														<span>Recurring</span> | Registered: Jan 1, 2015
													</div>
												</td>
												<td class="text-center">
													<i class="flag-icon flag-icon-br h4 mb-0" title="br" id="br"></i>
												</td>
												<td>
													<div class="clearfix">
														<div class="float-left">
															<strong>10%</strong>
														</div>
														<div class="float-right">
															<small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
														</div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td class="text-center">
													<i class="fa fa-cc-visa" style="font-size:24px"></i>
												</td>
												<td>
													<div class="small text-muted">Last login</div>
													<strong>5 minutes ago</strong>
												</td>
											</tr>
											<tr>
												<td class="text-center">
													<div class="avatar">
														<img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
														<span class="avatar-status badge-warning"></span>
													</div>
												</td>
												<td>
													<div>Quintin Ed</div>
													<div class="small text-muted">
														<span>New</span> | Registered: Jan 1, 2015
													</div>
												</td>
												<td class="text-center">
													<i class="flag-icon flag-icon-in h4 mb-0" title="in" id="in"></i>
												</td>
												<td>
													<div class="clearfix">
														<div class="float-left">
															<strong>74%</strong>
														</div>
														<div class="float-right">
															<small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
														</div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td class="text-center">
													<i class="fa fa-cc-stripe" style="font-size:24px"></i>
												</td>
												<td>
													<div class="small text-muted">Last login</div>
													<strong>1 hour ago</strong>
												</td>
											</tr>
											<tr>
												<td class="text-center">
													<div class="avatar">
														<img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
														<span class="avatar-status badge-secondary"></span>
													</div>
												</td>
												<td>
													<div>Enéas Kwadwo</div>
													<div class="small text-muted">
														<span>New</span> | Registered: Jan 1, 2015
													</div>
												</td>
												<td class="text-center">
													<i class="flag-icon flag-icon-fr h4 mb-0" title="fr" id="fr"></i>
												</td>
												<td>
													<div class="clearfix">
														<div class="float-left">
															<strong>98%</strong>
														</div>
														<div class="float-right">
															<small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
														</div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td class="text-center">
													<i class="fa fa-paypal" style="font-size:24px"></i>
												</td>
												<td>
													<div class="small text-muted">Last login</div>
													<strong>Last month</strong>
												</td>
											</tr>
											<tr>
												<td class="text-center">
													<div class="avatar">
														<img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
														<span class="avatar-status badge-success"></span>
													</div>
												</td>
												<td>
													<div>Agapetus Tadeáš</div>
													<div class="small text-muted">
														<span>New</span> | Registered: Jan 1, 2015
													</div>
												</td>
												<td class="text-center">
													<i class="flag-icon flag-icon-es h4 mb-0" title="es" id="es"></i>
												</td>
												<td>
													<div class="clearfix">
														<div class="float-left">
															<strong>22%</strong>
														</div>
														<div class="float-right">
															<small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
														</div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td class="text-center">
													<i class="fa fa-google-wallet" style="font-size:24px"></i>
												</td>
												<td>
													<div class="small text-muted">Last login</div>
													<strong>Last week</strong>
												</td>
											</tr>
											<tr>
												<td class="text-center">
													<div class="avatar">
														<img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
														<span class="avatar-status badge-danger"></span>
													</div>
												</td>
												<td>
													<div>Friderik Dávid</div>
													<div class="small text-muted">
														<span>New</span> | Registered: Jan 1, 2015
													</div>
												</td>
												<td class="text-center">
													<i class="flag-icon flag-icon-pl h4 mb-0" title="pl" id="pl"></i>
												</td>
												<td>
													<div class="clearfix">
														<div class="float-left">
															<strong>43%</strong>
														</div>
														<div class="float-right">
															<small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
														</div>
													</div>
													<div class="progress progress-xs">
														<div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</td>
												<td class="text-center">
													<i class="fa fa-cc-amex" style="font-size:24px"></i>
												</td>
												<td>
													<div class="small text-muted">Last login</div>
													<strong>Yesterday</strong>
												</td>
											</tr> -->
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<i class="icon-check"></i>Tasks in Progress
								</div>
								<div class="card-body p-0">
									<div class="tab-content">
										<div class="tab-pane active" id="tickets">
											<table class="table table-hover mb-0">
												<thead>
													<tr>
														<th>Status</th>
														<th>Date</th>
														<th>Description</th>
														<th>Assignedto</th>
														<th>Number</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="task of tasks">
														<td>
															<span class="badge badge-info">Active</span>
														</td>
														<td>{{ago(task.updated_at)}}</td>
														<td>{{task.description}}</td>
														<td>{{task.user.name}}</td>
														<td><b>[{{task.bugnumber}}]</b></td>
													</tr>
												</tbody>
											</table>
										</div>
										<pagination :pagination="pagination" @paginate="getAllUsersTasks()" :offset="4"></pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		components : {
		},
		name: 'dashboard',
		data() {
			return {
				tasks: Object,
				pagination : {
					total: 0,
					per_page: 2,
					from: 1,
					to: 0,
					current_page: 1
				},
				offset: 4,
			}
		},
		mounted() {
			this.getAllUsersTasks()
		},
		methods: {
			getAllUsersTasks() {
				axios.get(`/api/getAllUsersTasks?page=${this.pagination.current_page}`)
				.then((data) => {
					this.tasks = data['data'].data
					this.pagination= data['data']
				})
				.catch((err) => {
					console.log(err.toString())
				})
			}
		}
	}
</script>
