<template lang="html">
    <div class="app-body mb-5">
		<main role="main" class="main">

			<div class="container  mt-5">
				<div v-show="msg" class="row">
					<div class="col-lg-12">
						<div :class="'alert alert-' + msg_alert_type" :style="'border-left: 3px solid ' + msg_border">
							<p>{{ msg }}</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div id="cform">
							<div class="container-fluid">
								<h2>Report any errors here.</h2>
								<!-- FEEDBACK FORM -->
								<form id="feedback-form" method="post" action="" role="form" class="form-horizontal" v-on:submit.prevent="onSubmit">
									<div class="form-group">
										<div class="col-sm-12">
											<p v-show="show_firstname">
												<label>First Name</label><br>
												<input type="text" name="first_name" class="form-control" v-model="user.first_name" required>
											</p>
											<p v-show="show_lastname">
												<label>Last Name</label><br>
												<input type="text" name="last_name" class="form-control" v-model="user.last_name" required>
											</p>
											<p v-show="show_email">
												<label>Email</label><br>
												<input type="email" name="email" class="form-control" v-model="user.email" required>
											</p>
											<p v-show="show_zip">
												<label>Zip</label><br>
												<input type="text" name="zip" class="form-control" pattern="[0-9]{5}" v-model="zip" required>
												<span class="help-block text-info" style="font-size: 12px">
													Only US zip code are allowed.
												</span>
												<span class="invalid-feedback" :style="'font-size: 12px; display:' + invalid_feedback">
													Please provide a valid US Zip Code
												</span>
											</p>
											<p>
												<label>Topic</label><br>
												<select name="comments" class="form-control" v-model="comments" required>
													<option value=""></option>
													<option value="Support">Support</option>
													<option value="Questions">Questions</option>
													<option value="Technical Problem">Technical Problem</option>
													<option value="Website not loading">Website not loading</option>
												</select>
											</p>
											<br>
											<div class="">
												<div class="alert alert-danger" :style="'display: ' + hide_info + '; border-left: 3px solid red;'">
													<h4>Call Us !</h4>
													<p>If you call and report the problem, you will get <strong>$5</strong>.</p>
													<p>Please call <strong>1-800-394-7713</strong> Mon - Fri 8:00AM to 5PM PST.</p>
													<hr />
													<!-- OLD NUMBER 1-800-941-9004 -->
													<p>You will not receive a sales pitch. We want to keep the experience good for you.<br />
													This feedback will help us improve. You may also qualify to receive <strong>$25.</strong> Call to find out how.</p>
												</div>
											</div>
											<span>
												<strong>Enter your feedback</strong>
											</span>
											<br>
											<textarea name="feedback" class="form-control" rows="4" required></textarea>
										</div>
									</div>

									<!-- SUBMIT BUTTON -->
									<div class="form-group">
										<div class="col-sm-10"><!-- col-sm-offset-2 -->
											<input type="submit" id="submitbtn" value="Send Feedback" class="btn btn-primary">
										</div>
									</div>
									<input type="hidden" name="zip_status" id="zip_status" value="">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
    </div>
</template>

<script>

const jsonp = require('jsonp');

export default {
    name: 'feedback',
	data() {
		return {
            user:user,
            zip:user.zip,
            comments:user.category_type,
			msg: '',
			msg_alert_type: '',
			msg_border: '',
			show_firstname: true,
			show_lastname: true,
			show_email: true,
			show_zip: true,
			invalid_feedback: 'none',
			hide_info: 'none'
        }
	},
	mounted () {
		if(this.user.first_name) this.show_firstname = false;
		if(this.user.last_name) this.show_lastname = false;
		if(this.user.email) this.show_email = false;
		if(this.user.zip) this.show_zip = false;
	},
    watch: {
        zip($val) {
            console.log($val);
			this.user.zip = $val;
			this.zipChecker();
        },
        comments($val) {
            console.log($val);
			this.user.category_type = $val;
            if($val === 'Website not loading' || $val === 'Technical Problem') this.hide_info = 'block';
			else  this.hide_info = 'none';
        }
    },
	methods: {
		onSubmit () {
			axios.post('/feedback', this.user)
            .then((data) => {
                if(data.data.error) {
                    this.msg = data.data.msg;
                    this.msg_alert_type = 'danger';
                    this.msg_border = 'red';
                    return;
                } else {
	                this.msg = 'Your concern was successfully submitted!!';
					this.msg_alert_type = 'success';
					this.msg_border = 'green';
				}
            })
            .catch((error) =>  {
                console.log(error);
            })
		},
        zipChecker () {
            jsonp('http://leadreactor.engageiq.com/zip_checker?zip=' + this.user.zip, null, (err, data) => {
                if (err) {
                    console.error(err.message);
                } else {
                    console.log(data);
					if(data !== 'true'){
                        this.invalid_feedback = 'block';
                        this.user.zip_status = 'invalid';
                    } else {
                        this.invalid_feedback = 'none';
                        this.user.zip_status = '';
                    }
                }
            });
		}
	}
}
</script>

<style lang="css">
</style>
