<template>
	<section>
		<path-create v-show="show_create_form" ref="pathCreate"></path-create>
		<path-lists v-show="show_list" ref="pathLists"></path-lists>
	</section>
</template>

<script>

    import { mapState } from 'vuex';

	import PathCreate from './_Paths/Create.vue';
	import PathLists from './_Paths/Lists.vue';

	export default {
		name: 'paths',
		components : {
			PathCreate,
			PathLists
		},
        computed: {
            ...mapState('PATH', [
				'show_list',
				'show_create_form'
			]),
        },
	}
</script>
