<template>
    <!-- <div class="card-group mb-4">
	    <div class="card">
	      	<div class="card-body">
		        <div class="h4 mb-0" v-html="compiledMarkdown"></div>
	      	</div>
	    </div>
	    <div class="card">
	      	<div class="card-body">
		        <div class="h1 text-muted text-right mb-4">
					<input v-if="isSystem" id="fileUpload" type="file" class="btn btn-success">
					<button v-if="isSystem" class="btn btn-success" name="button" @click="upload">Upload</button>
					<button v-if="isSystem" type="button" class="btn btn-info" @click.prevent="seeMarkdown">See Markdown</button>
				  	<button type="button" class="btn btn-default"  @click.prevent="submitDocs"><i v-if="loading" class='fa fa-spinner fa-spin '></i>Submit</button>
		        </div>
	        	<div class="col-md-12">
					<textarea name="name" :value="input" @input="update" class="form-control textarea"></textarea>
				</div>
	      	</div>
	    </div>
  	</div> -->
    <div class="row">
        <div class="col-md-12 myIframe">
			<iframe src="https://ianrussel.gitbooks.io/automatedpath-manual/"></iframe>
        </div>
    </div>
</template>
<script>
    import _ from 'lodash'
    import marked from 'marked'
    export default {
        data() {
            return {
                input: '# Documentation',
				file: '',
				isSystem: false,
				loading: false,
            }
        },
        computed: {
            compiledMarkdown: function () {
                return marked(this.input, { sanitize: true })
            }
        },
		mounted() {
			this.getDocumentation();
            this.isSystem = this.isSystemAdmin()
		},
        methods: {
            update: _.debounce(function (e) {
                this.input = e.target.value
            }, 300),
			submitDocs() {
                const confirmation = confirm("Do you want to submit your changes?");
				if (!confirmation) return false;
				this.loading = true;
				axios.post('/api/project-documentation', {
					docs: this.input
				})
				.then((data) => {
					this.$toaster.success('Success updating Project Documentation!');
					this.input = data['data'].docs;
					this.input = this.input.replace(/"/g,"");
					this.loading = false;
				})
				.catch((err) => {
					switch (err.response.data) {
                        case 'UnAuthorized':
                            this.$toaster.error(err.response.data);
                            break;
                        default:
                            console.log(err.toString())
                            break;
                    }
				})
			},
			seeMarkdown() {
				const url = `https://guides.github.com/features/mastering-markdown/`
				window.open(url, '_blank')
			},
			upload() {
				const confirmation = confirm("Are you sure you want to update a .md file? This will overwrite the docs.md");
				if(!confirmation) return false;
				const dataId = document.getElementById('fileUpload');
				let fileUpload = dataId.files[0]
				const formData = new FormData();
				formData.append('md', fileUpload)
				axios.post('/api/project-documentation', formData)
				.then((data) => {
					this.input = data['data'].docs;
					this.$toaster.success('Success uploading doc file in md format');
				})
				.catch((err) => {
					console.log(err.toString())
				})
			},
			getDocumentation() {
				axios.get('/api/project-documentation')
				.then((data) => {
					this.input = data['data'].docs;
					this.input = this.input.replace(/"/g,"");
				})
				.catch((err) => {
					console.log(err.toString());
				})
			}
        }
    }
</script>
<style lang="scss" scoped>
	.textarea {
		min-height: 400px;
	}
	.myIframe {
	    position: relative;
	    padding-bottom: 65.25%;
	    padding-top: 30px;
	    height: 0;
	    overflow: auto;
	    -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
	   	border: solid black 1px;
	}
	.myIframe iframe {
     	position: absolute;
     	top: 0;
     	left: 0;
     	width: 100%;
     	height: 100%;
	}
</style>
