<template>
   	<div class="row">
      	<div class="col-md-10">
         	<div class="card">
	            <div class="card-header">
	               <strong>Report Bug/Comment</strong>
	            </div>
            	<div class="card-body">
               		<form action="" enctype="multipart/form-data" class="form-horizontal" @submit.prevent="createBugOrComment()">
			           	<div class="form-group row">
			             	<label class="col-md-3 col-form-label" for="name">Bug Name</label>
			             	<div class="col-md-9">
			               		<input v-model="name" type="text" id="name" name="name" class="form-control" placeholder="your bug here" required>
			               		<span class="help-block">Name your bug</span>
			             	</div>
			           	</div>
           				<div class="form-group row">
             				<label class="col-md-3 col-form-label" for="description">Description</label>
			             	<div class="col-md-9">
                                <textarea v-model="description" name="description" rows="8" cols="80" required></textarea>
			             	</div>
           				</div>
			           	<div class="form-group row">
			             	<label class="col-md-3 col-form-label" for="select3">Assign To</label>
			             	<div class="col-md-9">
			               		<select id="select3" name="select3" class="form-control form-control-sm" v-model="selected">
			                 		<option v-for="user in allUsers" v-bind:value="user.id">{{user.name}}</option>
			               		</select>
			             	</div>
			           	</div>
						<div class="form-group row">
			              	<label class="col-md-3 col-form-label">Select Type</label>
			              	<div class="col-md-9 col-form-label">
				                <div class="form-check form-check-inline mr-1">
				                  	<input v-model="type" value="bug" class="form-check-input" type="radio" id="inline-radio1" name="inline-radios">
				                  	<label class="form-check-label" for="inline-radio1">Bug</label>
				                </div>
				                <div class="form-check form-check-inline mr-1">
				                  	<input v-model="type" value="comment" class="form-check-input" type="radio" id="inline-radio2" name="inline-radios">
				                  	<label class="form-check-label" for="inline-radio2">Comment</label>
				                </div>
                                <div class="form-check form-check-inline mr-1">
                                   <input v-model="type" value="task" class="form-check-input" type="radio" id="inline-radio3" name="inline-radios">
                                   <label class="form-check-label" for="inline-radio3">Task</label>
                               </div>
			            	</div>
			            </div>
					   	<div class="card-footer">
		                  	<button type="submit" class="btn btn-sm btn-primary"><i v-if="loading" class='fa fa-spinner fa-spin '></i> Submit</button>
		                  	<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
		               	</div>
         			</form>
            	</div>
         	</div>
      	</div>
   	</div>
</template>
<script>
export default {
    name: "report-bug",
    data() {
        return {
			allUsers: '',
			selected: '',
            name: '',
            description: '',
			type: 'bug',
            loading: false,
        }
    },
	mounted() {
		this.getAllUsers()
	},
	methods: {
		getAllUsers() {
			axios.get('/api/all-users')
			.then((users) => {
				this.allUsers = users['data'].data
                console.log(users, 'users')
			})
			.catch((err) => {
				err.toString()
			})
		},
        createBugOrComment() {
            this.loading = true
            axios.post('/api/bugs', {
				name:  this.name,
				description: this.description,
				assignto: this.selected,
				type: this.type
            })
			.then(() => {
				this.$toaster.success(`Success`);
                this.loading = false;
				this.$router.push('/admin/bugs')
			})
			.catch((err) => {
                this.loading = false;
                switch (err.response.data) {
                    case 'UnAuthorized':
                        this.$toaster.error(err.response.data);
                        break;
                    default:
                        for(const [key, val] of Object.entries(err.response.data.errors)) {
                            this.$toaster.error(val[0]);
                        }
                        break;
                }
            })
        }
	}
}
</script>
<style lang="scss" scoped>
</style>
