<template>
    <section>
        <user-create v-show="show_create_form" ref="userCreate"></user-create>
        <user-lists v-show="show_list" ref="userLists"></user-lists>
    </section>
</template>
<script>
    import { mapState } from 'vuex';

	import UserLists from './_User/Lists';
	import UserCreate from './_User/Create';

    export default {
        components: {
            UserCreate,
            UserLists,
        },
        data() {
            return {

            }
        },
        computed: {
            ...mapState('USER', [
				'show_list',
				'show_create_form'
			]),
        },
    }
</script>
