<template>
    <div v-show="option_inputs.hasOwnProperty('footer')" class="tab-pane fade" :id="slug + '_footer'" role="tabpanel">
        <div v-for="(inputs, section) in default_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#footer_' + section" aria-expanded="false">
                        {{ capitalize(section) }}
                    </a>
                </h5>
            </div>
            <div :id="'footer_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'footer_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? values[input.value] : values[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :options="options[input.options]"
                        :remove_url="'/api/option-remove/' + path.id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';

    import TextInput from './../../Util/FormInputs/TextInput';
	import SelectInput from './../../Util/FormInputs/SelectInput';
	import SwitchInput from './../../Util/FormInputs/SwitchInput';
	import FileInput from './../../Util/FormInputs/FileInput';

    export default {
        name: 'footer-options',
		components: {
            TextInput,
			SelectInput,
			SwitchInput,
			FileInput
		},
        props: ['slug'],
        data() {
            return {
                values: {},
                images: {},
                options: {},
                // Defaults
                default_inputs: {
                    display: [
                        {
                            label: 'Show Footer',
                            name: 'show_footer',
                            default: 'true',
                            type: 'switch-input'
                        }
                    ]
                }
            }
        },
        computed: {
            ...mapState('PATH', {
                path: 'current',
				has_path: 'has_selected_path'
            }),
            ...mapState('TEMPLATE', {
                option_inputs: 'option_inputs',
				has_option_inputs: 'has_option_inputs'
            }),
        },
    	watch: {
			path: function($path) {
				if(this.has_path) {
					if($path.options.hasOwnProperty('footer')) {
						this.values = $path.options.footer;
					}
				}
			},
    		option_inputs: function($option_inputs) {
                if(this.has_option_inputs) this.default_inputs = $option_inputs.footer;
    		},
    	},
        methods: {
			...mapActions('PATH', [
				'reloadPreviewSrc'
			]),
            updateFromInputs ($input) {
                this.values[$input.key] = $input.value;
            },
            getImage($indx) {
                return this.images[$indx];
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'footer');

                Object.keys(this.values).map(function(key) {
                    formData.append(key, self.values[key]);
                });

                axios.post('/api/option-footer/' + this.path.id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Footer options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
					this.reloadPreviewSrc();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
