<template>
    <div class="tab-pane fade" :id="slug + '_progress_bar'" role="tabpanel">
        <div v-for="(inputs, section) in default_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#progress_bar_' + section" aria-expanded="false">
                        {{ capitalize(section) }}
                    </a>
                </h5>
            </div>
            <div :id="'progress_bar_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'progress_bar_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? values[input.value] : values[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :append="input.append"
                        :col="input.col"
                        :custom_progressbar="customProgressBar"
                        :remove_url="'/api/option-remove/' + path.id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';

    // import TextInput from './../../Util/FormInputs/TextInput';
	// import SelectInput from './../../Util/FormInputs/SelectInput';
	import SwitchInput from './../../Util/FormInputs/SwitchInput';
	// import FileInput from './../../Util/FormInputs/FileInput';
	import InputGroup from './../../Util/FormInputs/InputGroup';
	import BootstrapProgressbarInput from './../../Util/FormInputs/BootstrapProgressbarInput';
	import CustomProgressbarInput from './../../Util/FormInputs/CustomProgressbarInput';

    export default {
        name: 'progress-bar-options',
        components: {
            // TextInput,
            // SelectInput,
            SwitchInput,
            // FileInput,
            InputGroup,
            BootstrapProgressbarInput,
            CustomProgressbarInput
        },
        props: ['slug'],
        data() {
            return {
                values: {},
                // Input file that is image
                images: {},
                options: {},
                append: [
                    {text: 'px'}
                ],
                // Defaults
                default_inputs: {
                    display: [
                        {
                            label: 'Show Progress Bar',
                            name: 'show_progress_bar',
                            default: 'true',
                            type: 'switch-input'
                        }
                    ],
                    dimension: [
                        {
                            label: 'Height',
                            name: 'progress_bar_height',
                            append: [
                                {text: 'px'}
                            ],
                            type: 'input-group'
                        }
                    ],
                    bootstrap_type: [
                        {
                            name: 'progress_bar_type',
                            type: 'bootstrap-progressbar-input'
                        }
                    ],
                    custom_type: [
                        {
                            name: 'progress_bar_type',
                            value: 'custom_file_name',
                            type: 'custom-progressbar-input'
                        }
                    ],
                }
            }
        },
        computed: {
            ...mapState('PATH', {
                path: 'current',
				has_path: 'has_selected_path'
            }),
            ...mapState('TEMPLATE', {
                option_inputs: 'option_inputs',
				has_option_inputs: 'has_option_inputs'
            }),
            ...mapState('PROGRESSBAR', {
                customProgressBar: 'all',
            }),
        },
    	watch: {
			path: function($path) {
				if(this.has_path) {
					if($path.options.hasOwnProperty('progress_bar')) {
						this.values = $path.options.progress_bar;
					}
				}
			},
    		option_inputs: function($option_inputs) {
                if(this.has_option_inputs) this.default_inputs = $option_inputs.progress_bar;
    		},
    	},
        methods: {
			...mapActions('PATH', [
				'reloadPreviewSrc'
			]),
            updateFromInputs ($input) {
                this.values[$input.key] = $input.value;
            },
            getImage($indx) {
                return this.images[$indx];
            },
            updateProgressBarType () {
                this.values.progress_bar_type = 'custom';
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'progress_bar');
                formData.append('slug', this.path.slug);

                if(this.path.options.hasOwnProperty('themes')) {
                    formData.append('color', this.path.options.themes.color);
                    formData.append('template', this.path.options.themes.template);
                }

                Object.keys(this.values).map(function(key) {
                    formData.append(key, self.values[key]);
                });

                axios.post('/api/option-progress-bar/' + this.path.id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Progress bar options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
                    this.reloadPreviewSrc();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
