<template>
    <div class="tab-pane fade" :id="slug + '_terms'" role="tabpanel">
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#terms_one" aria-expanded="false">
                        Terms Of Use
                    </a>
                </h5>
            </div>
            <div id="terms_one" class="collapse show" role="tabpanel" aria-labelledby="terms_one" data-parent="#accordion" style="">
                <div class="card-body">
                    <textarea class="form-control" rows="22" v-model="terms"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: 'terms-options',
        props: ['slug'],
        data() {
            return {
                terms: ''
            }
        },
        computed: {
            ...mapState('PATH', {
                path: 'current',
				has_path: 'has_selected_path'
            })
        },
    	watch: {
            path: function($path) {
				if(this.has_path) {
					if($path.options.hasOwnProperty('terms')) {
						this.values = $path.options.terms;
					}
				}
			},
    	},
        methods: {

        }
    }
</script>

<style lang="css" scoped>
</style>
