<template>
    <div class="tab-pane fade" :id="slug + '_themes'" role="tabpanel">
        <div v-for="(inputs, section) in default_inputs" class="card">
            <div v-if="section != 'template'" class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#themes_' + section" aria-expanded="false">
                        {{ capitalize(section) }}
                    </a>
                </h5>
            </div>
            <div v-if="section != 'template'"  :id="'themes_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'themes_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? values[input.value] : values[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :options="options[input.options]"
                        :remove_url="'/api/option-remove/' + path.id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#' + slug + '_themes_template'" aria-expanded="false">
                        Templates
                    </a>
                </h5>
            </div>
            <div :id="slug + '_themes_template'" class="collapse show" role="tabpanel" :aria-labelledby="slug + '_themes_template'" data-parent="#accordion" style="">
                <div class="card-body">
                    <template-input
                        :name="'template'"
                        :value="values.template"
                        :options="templates"
						@change="updateFromInputs"
                    ></template-input>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';

    import ColorPickerInput from './../../Util/FormInputs/ColorPickerInput';
	import TemplateInput from './../../Util/FormInputs/TemplateInput';

    export default {
        name: 'themes-options',
        components: {
            ColorPickerInput,
            TemplateInput
        },
        props: ['slug'],
        data() {
            return {
                values: {},
                images: {},
                options: {},
                // Defaults
                default_inputs: {}
            }
        },
        computed: {
            ...mapState('PATH', {
                path: 'current',
				has_path: 'has_selected_path'
            }),
            ...mapState('TEMPLATE', {
                templates: 'all',
                option_inputs: 'option_inputs',
				has_option_inputs: 'has_option_inputs'
            }),
        },
    	watch: {
			path: function($path) {
				if(this.has_path) {
					if($path.options.hasOwnProperty('themes')) {
						this.values = $path.options.themes;
					}
				}
			},
			has_path: function($has_path) {
				if(this.has_path) {
					if(this.path.options.hasOwnProperty('themes')) {
						this.values = this.path.options.themes;
					}
				}
			},
    		option_inputs: function($option_inputs) {
                if(this.has_option_inputs) this.default_inputs = $option_inputs.themes;
    		},
    	},
        methods: {
			...mapActions('PATH', [
				'reloadPreviewSrc'
			]),
            ...mapActions('TEMPLATE', [
                'addTemplates',
                'setTemplateSlug'
            ]),
            updateFromInputs ($input) {
                this.values[$input.key] = $input.value;
                if($input.key == 'template') this.update();
            },
            getImage($indx) {
                return this.images[$indx];
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'themes');
                formData.append('slug', this.path.slug);

                Object.keys(this.values).map(function(key) {
                    formData.append(key, self.values[key]);
                });

                if(this.path.options.hasOwnProperty('progress_bar')) {
                    formData.append('progress_bar_type', this.path.options.progress_bar.progress_bar_type);
                    formData.append('custom_file_name', this.path.options.progress_bar.custom_file_name);
                }

                axios.post('/api/option-theme/' + this.path.id, formData)
                .then((data) => {
                    if(!data.data.error) {

                        this.show_cancel = false;
                        this.setTemplateSlug(this.values.template);

                        this.$swal({
                            position: 'top-end',
                            type: 'success',
                            title: 'Theme options is updated!',
                            showConfirmButton: false,
                            timer: 1200
                        });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
					this.reloadPreviewSrc();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
    .vc-chrome, .vc-photoshop {
    	position: absolute;
        top: 35px;
        right: 16px;
        z-index: 9;
        width: 94%;
    }
    .current-color {
    	/* display: inline-block; */
    	width: 35px;
    	height: 35px;
    	background-color: #c2cfd6;
    	cursor: pointer;
        /* position: absolute; */
        /* right: 16px; */
    }
    .hide {
        display: none !important;
    }
</style>
