<template>
    <div class="tab-pane fade" :id="slug + '_trackers'" role="tabpanel">
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#tracker_one" aria-expanded="false">
                        Trackers
                    </a>
                </h5>
            </div>
            <div id="tracker_one" class="collapse show" role="tabpanel" aria-labelledby="tracker_one" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="tracker of trackers" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">{{ tracker.name }}</label>
                        <div class="col-md-9">
                            <div class="card-header bg-white">
                                <div class="progress">
                                    <div class="progress-bar bg-white" role="progressbar" style="width: 60px">
                                        <input v-model="values.files" :value="tracker.name" type="checkbox" class="form-control" style="width: 15px;">
                                    </div>
                                    {{ tracker.path }}
                                </div>
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';

    export default {
        name: 'trackers-options',
        props: ['slug'],
        data() {
            return {
                values: {},
            }
        },
        computed: {
            ...mapState('PATH', {
                path: 'current',
				has_path: 'has_selected_path'
            }),
            ...mapState('TEMPLATE', {
                option_inputs: 'option_inputs',
				has_option_inputs: 'has_option_inputs'
            }),
            ...mapState('TRACKER', {
                trackers: 'all',
            }),
        },
    	watch: {
			path: function($path) {
				if(this.has_path) {
					if($path.options.hasOwnProperty('trackers')) {
						this.values = $path.options.trackers;
					}
				}
			},
    		option_inputs: function($option_inputs) {
                if(this.has_option_inputs) this.default_inputs = $option_inputs.trackers;
    		},
    	},
        methods: {
			...mapActions('PATH', [
				'reloadPreviewSrc'
			]),
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'trackers');
                formData.append('slug', this.path.slug);

                Object.keys(this.values).map(function(key) {
                    formData.append(key, self.values[key]);
                });

                axios.post('/api/option-trackers/' + this.path.id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Tracker options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
					this.reloadPreviewSrc();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
