<template lang="html">
	<section>
		<div v-for="progressbar in progressbars" class="form-group row">
			<label class="col-md-3 col-form-label" for="text-input">{{ progressbar.label }}</label>
			<div class="col-md-9">
				<div class="card-header bg-white">
					<div class="progress">
						<div class="progress-bar bg-white" role="progressbar" style="width: 60px">
							<input :value="progressbar.type" :checked="progressbar.type == selected" @click="update($event)" type="radio" :name="name" class="form-control" style="width: 15px;">
						</div>
						<div :class="progressbar.type" role="progressbar" style="width: 25%;"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							{{ progressbar.text }}
						</div>
					</div>
				</div>
				<span class="help-block"></span>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="text-input">Multiple Bars</label>
			<div class="col-md-9">
				<div class="card-header bg-white">
					<div class="progress">
						<div class="progress-bar bg-white" role="progressbar" style="width: 60px">
							<!-- <input value="multiple" type="radio" class="form-control" style="width: 15px;"> -->
						</div>
						<div class="progress-bar" role="progressbar" style="width: 15%" aria-valuemin="0" aria-valuemax="100"></div>
						<div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuemin="0" aria-valuemax="100"></div>
						<div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<span class="help-block"></span>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'bootstrap-progressbar-input',
	data() {
		return {
			progressbars: [
				{
					label: 'Plain',
					type: 'progress-bar',
					text: ''
				},
				{
					label: 'Plain With Lable',
					type: 'progress-bar progress-bar-label',
					text: '25%'
				},
				{
					label: 'Striped',
					type: 'progress-bar progress-bar-striped',
					text: ''
				},
				{
					label: 'Striped Animated',
					type: 'progress-bar progress-bar-striped progress-bar-animated',
					text: ''
				},
			],
			selected: ''
		}
	},
	props: {
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		default: {
			type: String,
			default () {
				return ''
			}
		},
	},
	watch: {
		default: function(newValue, oldValue) {
			if(!this.value) this.selected = newValue;
		},
		value: function(newValue, oldValue) {
			if(newValue) this.selected = newValue;
		}
	},
	mounted() {
		this.selected = this.default;
	},
	methods: {
		update($event) {
			this.$emit('change', {
				key: this.name,
				value: $event.target.value
			});
		}
	}
}
</script>

<style lang="css">
</style>
