<template lang="html">
	<div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">
			{{ label }}
			<slot></slot>
		</label>
		<div class=" col-lg-4  col-md-6  col-sm-12 input-group color-picker">
			<div class="form-group col-lg-12">
				<div class="input-group" :ref="name + '_colorpicker'">
					<input type="text" :class="'form-control ' + classname" v-model="colorValue" @focus="showPicker()" @input="updateFromInput" :placeholder="placeholder"/>
					<div class="input-group-append color-picker-container">
						<span class="current-color" :style="'background-color: ' + colorValue" @click="togglePicker()"></span>
						<chrome :value="colors" @input="updateFromPicker" v-if="displayPicker" ></chrome>
					</div>
					<div v-show="show_cancel" class="input-group-append" @click="themeColor">
						<span class="input-group-text"><i class="fa fa-close"></i></span>
					</div>
				</div>
			</div>
			<span class="help-block">{{ help }}</span>
		</div>
	</div>
</template>

<script>
import { Chrome } from 'vue-color'
export default {
	name: 'color-picker-input',
    components: {
        Chrome
    },
	data() {
		return {
			colors: {
				hex: '#3097D1',
			},
			colorValue: '',
			displayPicker: false,
            show_cancel: false
		}
	},
	props: {
		label: {
			type: String,
			default () {
				return 'Label'
			}
		},
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		help: {
			type: String,
			default () {
				return ''
			}
		},
		placeholder: {
			type: String,
			default () {
				return ''
			}
		},
		id: {
			type: String,
			default () {
				return ''
			}
		},
		classname: {
			type: String,
			default () {
				return ''
			}
		},
		default: {
			type: String,
			default () {
				return ''
			}
		}
	},
	mounted () {
		this.setColor( this.value || this.default);
	},
    watch: {
		colorValue(val) {
			if(val) {
				this.updateColors(val);
				this.$emit('change', {
					key: this.name,
					value: val
				});

                if(!this.value) return;
                if(this.value != this.colorValue) this.show_cancel = true;
			}
		},
		value (val, oldval) {
			this.setColor(val || this.default);
		},

	},
	methods: {
		showCancelBtn ($cancel) {
			 this.show_cancel = $cancel;
		},
		setColor(color) {
			this.updateColors(color);
			this.colorValue = color;

            this.showCancelBtn(false);
		},
        themeColor() {
            this.setColor(this.value || this.default);
             this.showCancelBtn(false);
        },
        updateColors(color) {
			if(color.slice(0, 1) == '#') {
				this.colors = {
					hex: color
				};
			}
			else if(color.slice(0, 4) == 'rgba') {
				var rgba = color.replace(/^rgba?\(|\s+|\)$/g,'').split(','),
					hex = '#' + ((1 << 24) + (parseInt(rgba[0]) << 16) + (parseInt(rgba[1]) << 8) + parseInt(rgba[2])).toString(16).slice(1);
				this.colors = {
					hex: hex,
					a: rgba[3],
				}
			}
		},
		showPicker() {
			document.addEventListener('click', this.documentClick);
			this.displayPicker = true;
		},
		hidePicker() {
			document.removeEventListener('click', this.documentClick);
			this.displayPicker = false;
		},
		togglePicker() {
			this.displayPicker ? this.hidePicker() : this.showPicker();
		},
		updateFromInput() {
			this.updateColors(this.colorValue);
		},
		updateFromPicker(color) {
			this.colors = color;
			if(color.rgba.a == 1) {
				this.colorValue = color.hex;
			}
			else {
				this.colorValue = 'rgba(' + color.rgba.r + ', ' + color.rgba.g + ', ' + color.rgba.b + ', ' + color.rgba.a + ')';
			}
		},
		documentClick(e) {
			var el = this.$refs[this.name + '_colorpicker'],
				target = e.target;
			if(el !== target && !el.contains(target)) {
				this.hidePicker()
			}
		}
	}
}
</script>
<style lang="css" scoped>
    .vc-chrome, .vc-photoshop {
    	position: absolute;
        top: 35px;
        right: 16px;
        z-index: 9;
        width: 94%;
    }
    .current-color {
    	/* display: inline-block; */
    	width: 35px;
    	height: 35px;
    	background-color: #3097D1;
    	cursor: pointer;
        /* position: absolute; */
        /* right: 16px; */
    }
</style>
