<template lang="html">
	<div class="">
		<div v-for="progressBar of custom_progressbar">
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="text-input">
					{{ progressBar.name }}
				</label>
				<div class="col-md-9" style="padding-left: 36px;">
					<input :value="progressBar.name" type="radio" name="progress_bar_type" :checked="value == progressBar.name" @click="update($event)" class="xform-control" style="xwidth: 15px;">

					<span style="margin-left: 44px;">{{ progressBar.path }}</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'custom-progressbar-input',
	props: {
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		custom_progressbar: {
			// type: Array,
			default () {
				return []
			}
		}
	},
	data() {
		return {
		}
	},
	mounted() {
	},
	methods: {
		update($event) {
			this.$emit('change', {
				key: this.name,
				value: $event.target.value
			});
			this.$emit('change', {
				key: 'progress_bar_type',
				value: 'custom'
			});
		}
	}
}
</script>

<style lang="css">
</style>
