<template lang="html">
	<div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">
			{{ label }}
			<slot></slot>
		</label>
		<div class="col-md-9">
			<div class="" v-show="show_preview">
				<img :src="img_source" :id="name + '-preview'" alt="" class="" style="padding: 1px; border: 1px solid #ccc; max-width: 100%;">
				<div class="row mt-3">
					<div class="col-sm-7 col-md-7 col-lg-7">
						<input :value="base_url + img_source"  type="text" class="form-control form-control-lg mb-3" readonly>
					</div>
					<div class="col-sm-5 col-md-4 col-lg-3">
						<button class="btn btn-lg btn-danger px-5" @click="removeImg"> Remove </button>
					</div>
				</div>
			</div>
			<input type="file" :id="name + '-upload-img'" accept="image/*" @change="preview">
			<span class="help-block">{{ help }}</span>
		</div>
	</div>
</template>

<script>
export default {
	name: 'text-input',
	data() {
		return {
			img_source: '',
			show_preview: false
		}
	},
	props: {
		label: {
			type: String,
			default () {
				return 'Label'
			}
		},
		name: {
			type: String,
			default () {
				return ''
			}
		},
		imgvalue: {
			type: String,
			default () {
				return ''
			}
		},
		help: {
			type: String,
			default () {
				return ''
			}
		},
		placeholder: {
			type: String,
			default () {
				return ''
			}
		},
		id: {
			type: String,
			default () {
				return ''
			}
		},
		classname: {
			type: String,
			default () {
				return ''
			}
		},
		base_url: {
			type: String,
			default () {
				return ''
			}
		},
		remove_url: {
			type: String,
			default () {
				return ''
			}
		}
	},
	watch: {
		imgvalue: function(newVal, oldVal) { // watch it
			if(newVal) {
				this.show_preview = true;
				this.img_source = newVal;
			}
		}
	},
	methods: {
		preview()
		{
			let self = this;
			this.show_preview = true;

			let photo = document.getElementById(this.name + '-upload-img');
			let preview = document.getElementById(this.name + '-preview');
			let image = photo.files[0];

			let reader = new FileReader();

			reader.addEventListener('load', function () {
				preview.src = reader.result;
				self.$emit('change', {
					key: self.name,
					value: image
				});
			}, false);

			if (image) {
				reader.readAsDataURL(image);
			}
		},

		removeImg()
		{
			this.$swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.value) {
					this.deleteProcess();
				}
			})
		},
		deleteProcess () {
			document.getElementById(this.name + '-upload-img').value = null;

			let formData = new FormData();
			formData.append('key', this.name);

			axios.post(this.remove_url, formData)
			.then((data) => {
				if(!data.data.error) {
					this.$swal({
						position: 'top-end',
						type: 'success',
						title: 'General options is updated!',
						text: 'Background image was removed',
						showConfirmButton: false,
						timer: 1200
					});

					this.img_source = '';
					this.show_preview = false;

				} else {
					this.$swal({
						position: 'top-end',
						type: 'error',
						title: 'Error in Submission!',
						text: data.data.msg,
						showConfirmButton: false,
						timer: 1500
					});
				}
			})
			.catch((error) => {
				console.log('error: ', error);
			})
		}
	}
}
</script>

<style lang="css">
</style>
