<template lang="html">
	<div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">
			{{ label }}
			<slot></slot>
		</label>
		<div class="col-md-9">
			<label class="switch switch-text switch-pill switch-primary">
				<input type="checkbox" class="switch-input" :checked="switcher === 'true'" :value="switcher" >
				<span class="switch-label" data-on="On" data-off="Off" @click="update"></span>
				<span class="switch-handle" @click="update"></span>
			</label>
		</div>
		<span class="help-block">{{ help }}</span>
	</div>
</template>

<script>
export default {
	name: 'switch-input',
	data() {
		return {
			switcher: 'false'
		}
	},
	props: {
		label: {
			type: String,
			default () {
				return 'Label'
			}
		},
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		help: {
			type: String,
			default () {
				return ''
			}
		},
		placeholder: {
			type: String,
			default () {
				return ''
			}
		},
		classname: {
			type: String,
			default () {
				return ''
			}
		},
		default: {
			type: String,
			default () {
				return ''
			}
		},
	},
	mounted () {
		if(this.default) this.switcher = this.default;
	},
	watch: {
		value: function(newValue, oldValue) {
          	// console.log('Prop changed: ', newValue, ' | was: ', oldValue)
			this.switcher = newValue;
		}
	},
	methods: {
		update() {
			if(this.switcher == 'false') this.switcher = 'true';
			else this.switcher = 'false';

			this.$emit('change', {
				key: this.name,
				value: this.switcher
			});
		}
	}
}
</script>

<style lang="css">
</style>
