<template lang="html">
	<div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">
			{{ capitalize(label) }}
			<slot></slot>
		</label>
		<div class="col-md-9">
			<textarea :id="id" :class="classname + ' form-control'" :placeholder="placeholder" @change="update($event)" rows="8" cols="80">{{ input_value }}</textarea>
			<span class="help-block">{{ help_block }}</span>
		</div>
	</div>
</template>

<script>
export default {
	name: 'textarea-input',
	data() {
		return {
			input_value: '',
			help_block: '',
			placeholder: ''
		}
	},
	props: {
		label: {
			type: String,
			default () {
				return ''
			}
		},
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		help: {
			type: String,
			default () {
				return ''
			}
		},
		id: {
			type: String,
			default () {
				return ''
			}
		},
		classname: {
			type: String,
			default () {
				return ''
			}
		},
		default: {
			type: String,
			default () {
				return ''
			}
		},
	},
	mounted () {
		this.placeholder = this.default;
		this.help_block = this.help;
		this.input_value = this.value;
	},
	watch: {
		default: function(newValue, oldValue) {
			this.placeholder = newValue;
		},
		help: function(newValue, oldValue) {
			this.help_block = newValue;
		},
		value: function(newValue, oldValue) {
			this.input_value = newValue;
		}
	},
	methods: {
		update($event) {
			if(this.type == 'email') {
				var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
				if(filter.test($event.target.value)) {
					$event.target.classList.remove('is-invalid');
					$event.target.classList.add('is-valid');
					this.help_block = this.help;
					this.input_value = $event.target.value;
				}
				else {
					$event.target.classList.remove('is-valid');
					$event.target.classList.add('is-invalid');
					this.help_block = 'Invalid email address.';
					this.input_value = $event.target.value;

					return;
				}
			}

			this.$emit('change', {
				key: this.name,
				value: $event.target.value
			});
		}
	}
}
</script>

<style lang="css">
</style>
