<template>
    <section>
        <div v-if="!has_user" class="row">
            <div class="col-lg-12">
                <div class="card mb-1">
                    <div class="card-header bg-gray-200">
                        <i class="fa fa-align-justify"></i>
                        Users
                        <div class="card-actions">
                            <a href="#" id="addRoles" @click="toggleForm">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="users.length > 0" v-for="(data, index) of users">
            <div v-show="!has_user || selected_id == data.id" class="card mb-1">
                <div class="card-header" role="tab">
                    <span  v-show="!has_user" class="avatar" style="margin-right: 20px">
                        <img :src="data.avatar" class="img-avatar">
                        <span class="avatar-status" :class="{ 'badge-success' : data.last_loggedin === 'online', 'badge-danger': (data.last_loggedin != 'online')}">
                        </span>
                    </span>
                    <div style="display: inline-block">
                        <a
                            class="toggler text-danger font-weight-bold"
                            :id="data.username + '-toggler'"
                            :href="'#' + data.username"
                            @click="focus($event, data)"
                            data-toggle="collapse"
                            aria-expanded="false"
                        >
                            {{ (!has_user) ? capitalize(data.first_name) + ' ' + capitalize(data.last_name) : '' }}
                            <i  v-show="has_user" :class="'arrow ' + arrow" @click="focus($event, data)"></i>
                        </a>
                        <!-- Details -->
                        <div  v-show="!has_user" class=" nav" role="tablist" style="display: inline-block">
                            <span v-for="(details_attr, user_details) of details" class="nav-details nav-item">
                                <span v-if="details_attr.callback" v-html="details_attr.callback(data[user_details])"></span>
                                <span v-else class="nav-link" style="padding-top: 0; padding-bottom: 0">
                                    {{  data[user_details]  }}
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="card-actions nav" role="tablist">
                        <span v-for="(nav_data, nav) of navigation" class="nav-item">
                            <a
                                v-if="nav_data.has_content"
                                :id="data.username + '-' + nav + '-nav'"
                                :class="nav + ' nav-link' + nav_data.class"
                                :href="'#' + data.username + '-' + nav"
                                @click="displayContent(nav, data)"
                                data-toggle="tab"
                                role="tab"
                            >
                                <i :class="nav_data.icon"></i>
                            </a>
                            <a
                                v-else
                                :id="data.username + '-' + nav + '-nav'"
                                :href="(nav_data.hasOwnProperty('href')) ? nav_data.href: data.url"
                                :target="(nav_data.hasOwnProperty('target')) ? nav_data.target: ''"
                                :class="nav + ' nav-link' + nav_data.class"
                                @click="callback(nav_data.callback, index, data)"
                            >
                                <i  :class="setIcon(nav, data, nav_data.icon)"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <!-- Tab Content -->
                <div :id="data.username" class="collapse fade slow" role="tabpanel" :aria-labelledby="data.username" data-parent="#accordion">
                    <div class="xcard-body">
                        <div class="tab-content">
                            <template  v-for="(nav_data, nav) of navigation">
                                <div
                                    v-if="nav_data.has_content"
                                    :class="'tab-pane fade slow' + nav_data.class"
                                    :id="data.username + '-' + nav"
                                    role="tabpanel"
                                >
                                    <div
                                        :is="nav"
                                        :ref="nav + 'Path'"
                                        :index="index"
                                        :user_id="data.id"
                                    >
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination v-show="!has_user" :pagination="pagination" @paginate="getUsers()" :offset="4"></pagination>
    </section>
</template>
<script>
    import { mapState, mapActions } from 'vuex';

	import UserOverview from './Overview';
	import UserUpdate from './Update';

    export default {
        components: {
            UserOverview,
            UserUpdate,
        },
        data() {
            return {
                pagination : {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                loading: false,
                arrow: 'icon-arrow-down',
                navigation: {
                    'user-overview': {
                        icon: 'fa fa-info-circle',
                        class: '',
                        has_content: true
                    },
                    'user-update': {
                        icon: 'fa fa-pencil',
                        class: '',
                        has_content: true
                    },
                    'user-remove': {
                        icon: 'fa fa-ban',
                        class: ' text-danger',
                        href: 'javascipt:void',
                        callback: 'deactivateUser',
                        has_content: false
                    },
                },
                details: {
                    email: {
                    },
                    roles: {
                    },
                    last_loggedin: {
                        callback: function ($last_loggedin) {
                            return 'Last Login: <small class="text-muted">' + $last_loggedin + '</small>';
                        }
                    },
                    status: {
                        callback: function ($status) {
                            return '<span class="badge ' + (($status == 1) ? 'badge-success': 'badge-danger') + '">' + (($status == 1) ? 'Active': 'Inactive') + '</span>';
                        }
                    },
                }
            }
        },
        computed: {
            ...mapState('USER', {
                users: 'all',
                has_user: 'has_current',
                selected_id: 'id'
            })
        },
    	methods: {
            ...mapActions('USER', [
                'setUser',
                'updateUserByIndex',
                'toggleForm'
            ]),
            getUsers() {},
            setIcon ($nav, $user, $icon) {
                if($nav == 'user-remove') {
                    if($user.status) {
                        $icon = 'text-success fa fa-circle';
                    }
                    return $icon;
                }
                return $icon;
            },
            focus: function ($event, data) {

                if ($event.currentTarget.getAttribute('aria-expanded') == 'true'){
                    this.setUser('');
                    for(let nav in this.navigation) {
                        if(this.navigation[nav]['has_content']) this.navigation[nav]['class'] = '';
                    }
                    this.arrow = 'icon-arrow-down';
                    return;
                }

                this.setUser(data.id);
                this.navigation['user-overview']['class'] = ' active show';
                this.arrow = 'icon-arrow-up';

            },
            displayContent ($nav, data) {
                this.setUser(data.id);

                for(let nav in this.navigation) {
                    if(this.navigation[nav]['has_content']) this.navigation[nav]['class'] = '';
                }

                this.navigation[$nav]['class'] = ' active show';
                this.arrow = 'icon-arrow-up';

                let toggler = document.getElementById(data.username + '-toggler');

                if(toggler.getAttribute('aria-expanded') == 'false') {
                    toggler.setAttribute("aria-expanded", "true");
                    // Content wrapper
                    console.log(document.getElementById(data.username));
                    document.getElementById(data.username).classList.add('show');
                }

            },
            callback($function_name, index, data){
                if($function_name) this[$function_name](index, data);
            },
            deactivateUser ($index, $data)
            {
                let self = this;

                const confirmation = confirm("Are you sure you want to change status for this user?, You can change status for this user later in your life ");
                if(!confirmation) return false;

                axios.post('/api/deactivate-user/' + $data.id, {
                    status : $data.status,
                })
                .then(() => {
                    let thisStatus = ($data.status == 0) ? 'activated' : 'deactivated';
                    self.updateUserByIndex({
                        id:$data.id,
                        key:'status',
                        value: ($data.status == 1) ? 0 : 1
                    });
                    this.$toaster.success(`this user successfully ${thisStatus}`);
                })
                .catch((err) => {
                    console.log(err.toString())
                })
            }
    	}
    }
</script>
<style lang="scss" scoped>
.card-header {
    min-height: 46px;
}
.avatar .img-avatar {
    height: 30px;
    margin-bottom: -5px;
    margin-top: -10px;
    max-width: 100%;
    width: 30px;
}
.icon-arrow-up, .icon-arrow-down {
    font-size: 11px;
    font-weight: bold;
}
.nav-link.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
.arrow {
    border-left: 1px solid #a4b7c1;
    border-right: 1px solid #a4b7c1;
    font-size: 11px;
    font-weight: bold;
    padding: 17px;
}
.nav-details, .toggler {
    text-decoration: none;
    min-width: 300px;
    display: inline-block;
}
</style>
