<template>
    <div style="margin-top: -16px">
        <div class="row" style="width: 100%; margin-left: -14px;">
            <div class="card-header bg-white" style="width: 100%; position: absolute;right: 0px; height: 100px;"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <profile-pic></profile-pic>
                <profile-information></profile-information>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <profile-header></profile-header>
                <div class="row mt-3">
                    <div class="nav-tabs-horizontal" style="width: 99%;">
                        <nav-tabs :user_id="user_id"></nav-tabs>
                        <div class="tab-content">
                            <profile-posts :user_id="user_id"></profile-posts>
                            <profile-messages :user_id="user_id"></profile-messages>
                            <settings :user_id="user_id"></settings>
                            <tasks :user_id="user_id"></tasks>
                            <!-- <commits></commits> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import { mapState, mapActions } from 'vuex';

    import ProfilePic from './_Includes/ProfilePic';
    import ProfileInformation from './_Includes/ProfileInformation';
    import ProfileHeader from './_Includes/ProfileHeader';
    import NavTabs from './_Includes/NavTabs';
    import ProfilePosts from './_Includes/ProfilePosts';
    import ProfileMessages from './_Includes/ProfileMessages';
    import Settings from './_Includes/Settings';
    import Tasks from './_Includes/Tasks';
    // import Commits from './_Includes/Commits';
    export default {
        components: {
            ProfilePic,
            ProfileInformation,
            ProfileHeader,
            NavTabs,
            ProfilePosts,
            ProfileMessages,
            Settings,
            Tasks,
            // Commits
        },
        data() {
            return {
            }
        },
        props: ['user_id'],
    }
</script>
<style lang="scss" scoped>
    .profile_pic_section {
        background-image: url("/img/default/profile-bg.jpeg");
        background-size: cover;
        background-color: #b8beca;
        border: none;
        padding: 2.5rem 2.5rem 1.78rem 2.5rem;
    }
    .avatar_wrap {
        background-color: #eef0f4;
        border-color: #b8beca;
        border-radius: 500px;
        border: 4px solid #fff;
        display: inline-block;
        height: 7.85rem;
        overflow: hidden;
        width: 7.85rem;
    }
    .avatar_wrap img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .btn-group-justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
    }
    .btn-group-justified > .btn-group {
        float: none;
        display: table-cell;
        width: 1%;
    }
    .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .btn-group-justified > .btn-group>.btn {
        width: 100%;
    }
    .btn-group > .btn:first-child {
        margin-left: 0;
    }
    .donut {
        display: inline-block;
        border-radius: 100%;
        border: 4px solid #acb7bf;
        height: 1.14rem;
        margin-right: .28rem;
        position: relative;
        top: .14rem;
        width: 1.14rem;
    }
    .width-100 {
        width: 7.14rem;
    }

</style>
