<template>
    <div class="card">
        <div class="card-header">
            <strong>Update </strong>
            User
        </div>
        <div class="card-body">
            <div v-for="(inputs, section) in user_inputs" class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" :href="'#settings_' + section" aria-expanded="false">
                            {{ capitalize(section) }}
                        </a>
                    </h5>
                </div>
                <div :id="'settings_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'settings_' + section" data-parent="#accordion" style="">
                    <div class="card-body">
                        <div v-for="input in inputs"
                            :is="input.type"
    						:label="input.label"
    						:name="input.name"
    						:id="input.id"
    						:value="(input.value)? v[input.value] : user[input.name]"
    						:imgvalue="getImage(input.name)"
                            :default="input.default"
                            :append="input.append"
                            :help="input.help"
                            :options="options[input.options]"
    						@change="updateFromInputs"
    					></div>
                    </div>
                </div>
            </div>
            <div class="card-footer border border-gray-200">
                <button class="btn btn-lg btn-primary" @click="update">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex';

	import TextInput from './../Util/FormInputs/TextInput';
	import SelectInput from './../Util/FormInputs/SelectInput';
	import SwitchInput from './../Util/FormInputs/SwitchInput';
	import FileInput from './../Util/FormInputs/FileInput';
	import InputGroup from './../Util/FormInputs/InputGroup';
	import TextareaInput from './../Util/FormInputs/TextareaInput';
    export default {
        name: 'settings',
		components: {
            TextInput,
			SelectInput,
			SwitchInput,
			FileInput,
			InputGroup,
			TextareaInput
		},
        props: ['user_id'],
        data() {
            return {
                input: [],
				images: {},
				options: {},
                settings: {},

                user_inputs: {
                    general_information: [
                        {
                            label: 'First Name',
                            name: 'first_name',
                            type: 'input-group',
                            // id: 'xxupdate_first_name',
                            append: [
                                {
                                    'html': '<i class="fa fa-user"></i>'
                                }
                            ]
                        },
                        {
                            label: 'Last Name',
                            name: 'last_name',
                            type: 'input-group',
                            // id: 'xxupdate_last_name',
                            append: [
                                {
                                    'html': '<i class="fa fa-user"></i>'
                                }
                            ]
                        },
                        {
                            label: 'Skills',
                            name: 'skills',
                            type: 'text-input',
                            // id: 'xxupdate_skills',
                            help: 'Comma Separated'
                        },
                        {
                            label: 'Department',
                            name: 'department',
                            type: 'text-input',
                            // id: 'update_first_name',
                        },
                        {
                            label: 'Personal information',
                            name: 'personal_information',
                            type: 'textarea-input',
                            // id: 'update_personal_information',
                        }
                    ],
                }
            }
        },
        computed: {
            ...mapState('USER', {
                user: 'current'
            })
        },
        methods: {
            ...mapActions('USER', [
                'updateUserByIndex',
            ]),
            updateFromInputs($input) {
                this.input[$input.key] = $input.value;
            },
            getImage($indx) {
                return this.images[$indx];
            },
            update() {
                for(let key in this.input) {
                    this.updateUserByIndex({ 'key': key, 'value': this.input[key]});
                }
            }
        }
    }
</script>

<style lang="css">

</style>
