<template lang="html">
    <div class="tab-pane fade" :id="'commits_' + user_id" role="tabpanel">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>Hash</th>
                    <th>Comments</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="commit in commits">
                    <!-- <template v-if="extractEmail(commit.author.raw) === user.email"> -->
                        <td><img :src="commit.author.user.links.avatar.href"/></td>
                        <td>{{ commit.hash }}</td>
                        <td>{{ commit.message }}</td>
                        <td>{{ ago(commit.date )}}</td>
                    <!-- </template> -->
                </tr>
            </tbody>
        </table>
        <paginate
            :page-count="pageCount"
            :container-class="paginations"
            :prev-text="prev"
            :next-text="next"
            :click-handler="clickCallback">
        </paginate>
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    import paginate from 'vuejs-paginate';
    export default {
        name: 'commits',
        props: ['user_id'],
        components: {paginate},
        data() {
            return {
                // apiUrl: 'https://bitbucket.org/api/2.0/repositories/engageiq-ianrussel/paths_laravel/refs/tags?q=name+%7E+%22jeremie%22',
                // apiUrl: 'https://bitbucket.org/api/2.0/repositories/engageiq-ianrussel/paths_laravel/commits?pagelen=10&user=engageiqjeremie',
                apiUrl: 'https://bitbucket.org/api/2.0/repositories/engageiq-ianrussel/paths_laravel/commits?pagelen=10',
                commits: {},
                prev: 'prev',
                next: 'next',
                paginations: 'pagination',
                pageCount: 0
            }
        },
        computed: {
            ...mapState(['user'])
        },
		mounted() {
			this.fetchData()
            this.fetchCount()
		},
        methods: {
            clickCallback(pageNum) {
                this.apiUrl += '&page=' + pageNum;
                this.fetchData();
            },
            fetchCount() {
                const xhr = new XMLHttpRequest()
                xhr.open('GET', 'https://bitbucket.org/api/1.0/repositories/engageiq-ianrussel/paths_laravel/changesets/')
                xhr.onload = () => {
                    let commits = JSON.parse(xhr.responseText);
                    if(localStorage.getItem('count') === null) {
                        localStorage.setItem('count', commits['count'])
                    }
                }
                xhr.send()
            },
            fetchData(){
                let self = this;
                this.commits = {};
                const xhr = new XMLHttpRequest()
                xhr.open('GET', this.apiUrl, true)
                xhr.onload = () => {
                    let commits = JSON.parse(xhr.responseText);
                    this.commits = commits['values'];

                    this.pageCount = Math.floor(localStorage.getItem('count') / 30);
                }
                xhr.send()
            },
            extractEmail(string) {
                let regex = /\S+[a-z0-9]@[a-z0-9\.]+/img
                let emails = string.match(regex).toString();
                let stripped =  emails.replace(/[^\w.@]/g, '');
                return stripped;
            }
        }
    }
</script>

<style lang="css">

</style>
