<template lang="html">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" :href="'#posts_' + user_id" data-toggle="tab" role="tab">
                <i class="fa fa-window-maximize"></i>
                Wall
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :href="'#messaging_' + user_id" data-toggle="tab" role="tab">
                <i class="fa fa-comments-o"></i>
                Messages
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :href="'#settings_' + user_id" data-toggle="tab" role="tab">
                <i class="fa fa-cog"></i>
                Settings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :href="'#tasks_' + user_id" data-toggle="tab" role="tab">
                <i class="fa fa-wrench"></i>
                Tasks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :href="'#commits_' + user_id" data-toggle="tab" role="tab">
                <i class="fa fa-code-fork"></i>
                Commits
            </a>
        </li>
    </ul>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';

    export default {
        name: 'nav-tabs',
        props: ['user_id'],
        computed: {
            ...mapState('USER', {
                user: 'current'
            })
        },
    }
    </script>

<style lang="css">
</style>
