<template lang="html">
    <div class="tab-pane fade" :id="'messaging_' + user_id" role="tabpanel">
        <div class="chat-block">
            <div class="chat-block-item clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/3.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>David Scott</strong>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="chat-block-item clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/3.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>Chris Smith</strong>
                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
            <div class="chat-block-item chat-block-item-right clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/4.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>Donald Trump</strong>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy</p>
                </div>
            </div>
            <div class="chat-block-item clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/3.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>David Scott</strong>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="chat-block-item chat-block-item-right clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/4.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>Donald Trump</strong>
                    <p>Ok. Thanks!</p>
                </div>
            </div>
            <div class="chat-block-item chat-block-item-right clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/4.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>Donald Trump</strong>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy</p>
                </div>
            </div>
            <div class="chat-block-item clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/3.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>David Scott</strong>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="chat-block-item chat-block-item-right clearfix">
                <div class="chat-block-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/4.jpg">
                    </a>
                </div>
                <div class="chat-block-content">
                    <strong>Donald Trump</strong>
                    <p>Ok. Thanks!</p>
                </div>
            </div>
        </div>
        <div class="form-group mt-4 mb-0">
            <textarea class="form-control adjustable-textarea" placeholder="Type and press enter" style="overflow: hidden; word-wrap: break-word; resize: none; height: 66px;"></textarea>
            <div class="mt-3">
                <button class="btn btn-primary width-200">
                    <i class="fa fa-send mr-2"></i>
                    Send
                </button>
                <button class="btn btn-link">
                    Attach File
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'profile-messages',
    props: ['user_id'],
    data() {
        return {
        }
    },
    computed: {
        ...mapState('USER', {
            user: 'current'
        })
    },
}
</script>

<style lang="css" scoped>
.chat-block-item {
    padding: .71rem 0;
}
.chat-block-avatar {
    float: left;
}
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #eef0f4;
    border-color: #b8beca;
    display: inline-block;
    overflow: hidden;
    border-radius: 500px;
}
.avatar-50 {
    width: 3.57rem;
    height: 3.57rem;
}
.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.chat-block-content {
    padding: .71rem 1.07rem .07rem;
    background: #f2f4f8;
    margin-left: 5rem;
    border-radius: 5px;
    position: relative;
}
.chat-block-item-right .chat-block-avatar {
    float: right;
}
.chat-block-item-right .chat-block-content {
    margin-left: 0;
    margin-right: 70px;
}
.chat-block-content:after {
    position: absolute;
    top: 1.57rem;
    left: -1rem;
    width: 0;
    height: 0;
    display: block;
    content: "";
    border: .5rem solid transparent;
    border-right-color: #f2f4f8;
}
.chat-block-item-right .chat-block-content:after {
    left: auto;
    right: -1rem;
    border: .5rem solid transparent;
    border-left-color: #f2f4f8;
}
</style>
