<template lang="html">
    <div class="card">
        <div class="card-body">
            <h5 class="mb-3 text-black">
                <strong>Information</strong>
            </h5>
            <dl class="row">
                <dt class="col-xl-3">Address</dt>
                <dd class="col-xl-9">{{ user.address }}</dd>
                <dt class="col-xl-3">Skills</dt>
                <dd class="col-xl-9" v-html="formatSkills(user.skills)"></dd>
                <dt class="col-xl-3">Deparment</dt>
                <dd class="col-xl-9">{{ user.department }}</dd>
                <dt class="col-xl-3">Personal Information</dt>
                <dd class="col-xl-9">{{ user.personal_information }}.</dd>
            </dl>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: 'profile-information',
        data() {
            return {
            }
        },
        computed: {
            ...mapState('USER', {
                user: 'current'
            })
        },
        methods: {
            formatSkills($skills) {
                if(!$skills) return;

                return $skills
                    .split(',')
                    .map(
                        function(skill) {
                            return '<span class="badge badge-default">' + skill + '</span>';
                        }
                    )
                    .join(' ');
            }
        }
    }
</script>

<style lang="css">
</style>
