<template lang="html">
    <div  class="profile_pic_section card">
        <div class="card-body text-center">
            <a class="avatar_wrap" href="javascript:void(0);">
                <img :src="user.avatar">
            </a>
            <br>
            <br>
            <div aria-label="" class="btn-group btn-group-justified" role="group">
                <div class="btn-group">
                    <button class="btn btn-lg btn-outline-success" type="button">Follow</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-lg btn-outline-success" type="button">Add to Friend</button>
                </div>
            </div>
            <br>
            <p class="text-white">
                Last activity: {{ user.last_activity }}
            </p>
            <p class="text-white">
                <span :class="'donut border-' + is_loggedin_class"></span> {{ capitalize(is_loggedin) }}</p>
            </div>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
    name: 'profile-pic',
    data() {
        return {
            is_loggedin_class: 'secondary'
        }
    },
    computed: {
        ...mapState('USER', {
            user: 'current'
        }),
        ...mapGetters('USER', [
            'is_loggedin'
        ])
    },
    method: {

    },
    watch: {
        is_loggedin ($val) {
            if($val == 'online') this.is_loggedin_class = 'success';
            else this.is_loggedin_class = 'secondary';
        }
    },
}
</script>

<style lang="css" scopred>
.profile_pic_section {
    background-image: url("/img/default/profile-bg.jpeg");
    background-size: cover;
    background-color: #b8beca;
    border: none;
    padding: 2.5rem 2.5rem 1.78rem 2.5rem;
}
.avatar_wrap {
    background-color: #eef0f4;
    border-color: #b8beca;
    border-radius: 500px;
    border: 4px solid #fff;
    display: inline-block;
    height: 7.85rem;
    overflow: hidden;
    width: 7.85rem;
}
.avatar_wrap img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group-justified > .btn-group>.btn {
    width: 100%;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.donut {
    display: inline-block;
    border-radius: 100%;
    border: 4px solid #acb7bf;
    height: 1.14rem;
    margin-right: .28rem;
    position: relative;
    top: .14rem;
    width: 1.14rem;
}
</style>
