<template lang="html">
    <div class="row">
        <div class="col-xl-12  mt-2">
            <div class="card-body">
                <!-- <div class="width-100 text-center pull-right">
                    <h2>154</h2>
                    <p class="mb-0">Followers</p>
                </div>
                <div class="width-100 text-center pull-right">
                    <h2>17</h2>
                    <p class="mb-0">Posts</p>
                </div> -->
                <h2>
                    <span class="text-black">
                        <strong>{{ capitalize(user.first_name) + ' ' + capitalize(user.last_name) }}</strong>
                    </span>
                    <small class="text-muted">{{ user.username }}</small>
                </h2>
                <!-- <p class="mb-1">{{ username }}</p> -->
                <p class="mb-1">{{ user.roles }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        name: 'profile-header',
        data() {
            return {
            }
        },
        computed: {
            ...mapState('USER', {
                user: 'current'
            }),
        },
        method: {
        },
        mounted () {

        },
    }
</script>

<style lang="css" scopred>
.width-100 {
    width: 7.14rem;
}
</style>
