<template lang="html">
    <div class="tab-pane fade active show" :id="'posts_' + user_id" role="tabpanel">
        <div class="py-3">
            <textarea class="form-control adjustable-textarea" placeholder="Type and press enter" style="overflow: hidden; word-wrap: break-word; resize: none; height: 66px;"></textarea>
            <div class="mt-3">
                <button class="btn btn-primary width-200">
                    <i class="fa fa-send mr-2"></i>
                    Create Post
                </button>
                <button class="btn btn-link">
                    Attach File
                </button>
            </div>
        </div>
        <hr>
        <div class="profile-wall mt-3">
            <div class="profile-wall-item clearfix">
                <div class="profile-wall-avatar">
                    <a class="avatar avatar-50" href="javascript:void(0);">
                        <img alt="Alternative text to the image" src="/img/default/3.jpg">
                    </a>
                </div>
                <div class="profile-wall-content">
                    <div class="mb-3">
                        <div class="dropdown pull-right">
                            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);">
                                <span>Action</span>
                                <span class="caret"></span>
                            </a>
                            <ul aria-labelledby="" class="dropdown-menu dropdown-menu-right" role="menu">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-pencil"></i> Edit Post</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-bin"></i> Delete Post</a>
                            </ul>
                        </div>
                        <strong>Ann Gates</strong> posted:
                        <br>
                        <small class="text-muted">10 May 2016 11:03AM</small>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'profile-posts',
    props: ['user_id'],
    data() {
        return {

        }
    },
    computed: {
        ...mapState('USER', {
            user: 'current'
        })
    },
}
</script>

<style lang="css" scoped>
.profile-wall-avatar {
    float: left;
}
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #eef0f4;
    border-color: #b8beca;
    display: inline-block;
    overflow: hidden;
    border-radius: 500px;
}
.avatar-50 {
    width: 3.57rem;
    height: 3.57rem;
}
.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.profile-wall-item {
    margin-top: 1.42rem;
    margin-bottom: 1.42rem;
    padding-bottom: 1.42rem;
    border-bottom: 1px solid #e4e9f0;
}
.profile-wall-content {
    margin-left: 5rem;
}
.profile-all-item {
    margin-top: 1.42rem;
    margin-bottom: 1.42rem;
    padding-bottom: 1.42rem;
    border-bottom: 1px solid #e4e9f0;
}
</style>
