<template lang="html">
    <div class="tab-pane fade" :id="'tasks_' + user_id" role="tabpanel">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="task in user.tasks">
                    <td>{{task.bugnumber}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <!-- <td>{{task.status}}</td> -->
                    <td><span class="badge" :class="{ 'badge-success' : task.status == 1, 'badge-danger': (task.status != 1)}">{{task.status == 1 ? 'Open': 'Closed' }}</span></td>
                    <td>{{task.type}}</td>
                    <th>{{ ago(task.updated_at) }}</th>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'tasks',
    props: ['user_id'],
    data() {
        return {
            tab_id: ''
        }
    },
    computed: {
        ...mapState('USER', {
            user: 'current'
        })
    },
    mounted() {
    }
}
</script>

<style lang="css">

</style>
