<template>
    <modal
        name="add-path"
        height="auto">
        <div class="card">
            <div class="card-header">
                <strong>Create New </strong>
                Path
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" class="form-horizontal" @submit.prevent="submitForm()">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Path Name</label>
                        <div class="col-md-9">
                            <input v-model="name" type="text" id="name" name="name" class="form-control" placeholder="path name e.g path6, path101.." required>
                            <span class="help-block">Name of the path</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-input">Comments</label>
                        <div class="col-md-9">
                            <textarea v-model="comments" id="comments" name="comments" rows="9" class="form-control" placeholder="Comments.." required></textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i v-if="loading" class='fa fa-spinner fa-spin '></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </modal>
</template>
<script>
    export default {
        data() {
            return {
                name: '',
                comments: '',
				loading: false,
            }
        },
        methods: {
            submitForm() {
				this.loading = true;
				axios.post('/api/submitPathForm', {
					name: this.name,
					comments: this.comments
				})
				.then((data) => {
                    this.loading = false;
					this.$toaster.success(`${this.name} is added`);
                    this.name = '';
                    this.comments = '';
					this.$emit('get-all-paths');
				})
				.catch((error) => {
                    this.loading = false;
					switch (error.response.status) {
						case 401:
						this.$toaster.error('UnAuthorized');
						return false;
						break;
						default:
							for(const [key, val] of Object.entries(error.response.data.errors)) {
								this.$toaster.error(val);
							}
						}
					})
			},
        }
    }
</script>
<style lang="scss" scoped>
</style>
