<template>
    <modal
        name="edit-permission"
        height="auto"
        @before-open="beforeOpen">
        <div class="card">
            <div class="card-header">
                <strong>Update Permission</strong>
            </div>
            <div class="card-body">
                <form action="" method="post" class="form-horizontal"  @submit.prevent="submitUpdatePermission()">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input value="permissionName" v-model="permissionName" type="text" id="input1-group1" name="name_permission" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </modal>
</template>
<script>
    export default {
        data() {
            return {
                permissionName: '',
                permissionEditId: Number,
            }
        },
        methods: {
            beforeOpen (event) {
                this.permissionName = event.params.permissionProperty.name;
                this.permissionEditId = event.params.permissionProperty.id;
            },
            submitUpdatePermission() {
                axios.post('/api/update-permission/' + this.permissionEditId, {
                    name: this.permissionName,
                })
                .then(() => {
                    this.$toaster.success("Permission updated!");
                    this.$emit('get-roles-permissions')
                })
                .catch((err) => {
                    console.log(err.toString());
                })
            },
        }
    }
</script>
<style lang="scss" scoped>
</style>
