<template>

</template>

<script>


    export default {
        name: 'chart',

        data() {
            return {

            }
        },
        methods: {
        }
    }
</script>

<style media="screen" scoped>
</style>
