<template>
	<div v-show="show_form" class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<strong>Create New </strong>
					Path
					<div class="card-actions">
						<a id="addRoles" @click="toggleForm">
							<i class="fa fa-close"></i>
						</a>
					</div>
				</div>
				<div class="card-body">
					<form enctype="multipart/form-data" class="form-horizontal">
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="text-input">xxPath Name</label>
							<div class="col-md-9">
								<input v-model="name" type="text" id="name" name="name" class="form-control" placeholder="path name e.g path6, path101..">
								<span class="help-block">Name of the path</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="textarea-input">Description</label>
							<div class="col-md-9">
								<vue-editor id="create-editor" v-model="description"></vue-editor>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<button @click="submitForm" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
					<button type="reset" class="btn btn-lg btn-danger"><i class="fa fa-ban"></i> Clear</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

    import { mapActions } from 'vuex';
	import { VueEditor } from 'vue2-editor';

	export default {
		name: 'path-create',
		components: {
			VueEditor
		},
		data() {
			return {
				description: '',
				name: '',
				show_form: false
			}
		},
		props: [

		],
		methods: {
            ...mapActions('PATH', [
                'addPath',
                'toggleForm'
            ]),
			submitForm() {
				axios.post('/api/paths', {
					name: this.name,
					description: this.description
				})
				.then((data) => {
					this.addPath(data.data);

					this.toggleForm();

					this.$toaster.success(`${this.name} is added`);
				})
				.catch((error) => {
					console.log(error);
					// switch (error.response.status) {
					// 	case 401:
					// 	this.$toaster.error('UnAuthorized');
					// 	return false;
					// 	break;
					// 	default:
					// 		for(const [key, val] of Object.entries(error.response.data.errors)) {
					// 			this.$toaster.error(val);
					// 		}
					// 	}
				})
			},
		}
	}
</script>
