<template>
    <section>
        <div v-show="!has_selected_path" class="row">
            <div class="col-lg-12">
                <div class="card mb-1">
                    <div class="card-header bg-gray-200">
                        <i class="fa fa-align-justify"></i>
                        Paths
                        <div class="card-actions">
                            <a href="#" id="addRoles" @click="toggleForm">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="paths.length > 0" v-for="(path, index) of paths">
            <div v-show="!has_selected_path || selected_slug == path.slug" class="card mb-1">
                <div class="card-header" role="tab">
                    <a
                        class="text-danger font-weight-bold"
                        :id="path.slug + '-toggler'"
                        :href="'#' + path.slug"
                        @click="focus($event, path.slug)"
                        path-toggle="collapse"
                        aria-expanded="false"
                    >
                        {{ path.name }}
                        <!-- <i :class="arrow" @click="focus($event, path.slug)" style="font-weight: bold; font-size: 11px;"></i> -->
                    </a>
        			<div class="card-actions nav" role="tablist">
                        <span lass="nav-item">
                            <label class="switch switch-text switch-pill switch-primary" style="margin: 12px 14px 0px">
                                <input name="my-checkbox" type="checkbox" class="switch-input" :checked="path.status" :value="path.status" >
                                <span class="switch-label" data-on="On" data-off="Off" @click="switchStatus(path.id, path.status, index)"></span>
                                <span class="switch-handle" @click="switchStatus(path.id, path.status, index)"></span>
                            </label>
                        </span>

                        <span v-for="(nav_data, nav) of navigation" class="nav-item">
                            <a
                                v-if="nav_data.has_content"
                                :id="path.slug + '-' + nav + '-nav'"
                                :class="nav + ' nav-link' + nav_data.class"
                                :href="'#' + path.slug + '-' + nav"
                                @click="displayContent(nav, path.slug)"
                                data-toggle="tab"
                                role="tab"
                            >
                                <i :class="'fa fa-' + nav_data.icon"></i>
                            </a>
                            <a
                                v-else
                                :id="path.slug + '-' + nav + '-nav'"
                                :href="(nav_data.hasOwnProperty('href')) ? nav_data.href: path.url"
                                :target="(nav_data.hasOwnProperty('target')) ? nav_data.target: ''"
                                :class="nav + ' nav-link' + nav_data.class"
                                @click="callback(nav_data.callback, index, path)"
                            >
                                <i  :class="'fa fa-' + nav_data.icon"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div :id="path.slug" class="collapse fade slow" role="tabpanel" :aria-labelledby="path.slug" data-parent="#accordion" style="">
                    <div class="xcard-body">
                        <div class="tab-content">
                            <div v-for="(nav_data, nav) of navigation" :class="'tab-pane fade slow' + nav_data.class" :id="path.slug + '-' + nav" role="tabpanel">
                                <div
                                    v-if="nav_data.has_content"
                                    :is="nav"
                                    :ref="nav + 'Path'"
                                    :index="index"
                                    :slug="path.slug"
                                >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <pagination v-show="!has_selected_path" :pagination="pagination" @paginate="getAllPaths()" :offset="4"></pagination> -->

        <!-- Modal Preview Template -->
        <template-preview></template-preview>

    </section>
</template>

<script>
    import { mapState, mapGetters,  mapActions } from 'vuex';

    import Chart from './Chart';
	import Overview from './Overview';
	import Update from './Update';
	import Options from './Options';
	import TemplatePreview from './TemplatePreview';

    export default {
        name: 'path-lists',
		components: {
            Chart,
            Overview,
            Update,
            Options,
			TemplatePreview,
		},
        data() {
            return {
                pagination : {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                showAlert: false,
                message: {
                    variant: '',
                    message: '',
                    show: 5,
                },
                navigation: {
                    // toggler: {
                    //     icon: 'arrow',
                    //     class: '',
                    //     has_content: false,
                    //     href: 'javascipt:void',
                    //     callback: 'focus',
                    // },
                    chart: {
                        icon: 'bar-chart',
                        class: '',
                        has_content: true
                    },
                    overview: {
                        icon: 'info-circle',
                        class: '',
                        has_content: true
                    },
                    update: {
                        icon: 'pencil',
                        class: '',
                        has_content: true
                    },
                    options: {
                        icon: 'cog',
                        class: '',
                        has_content: true
                    },
                    view: {
                        icon: 'eye',
                        class: '',
                        target: '_blank',
                        has_content: false
                    },
                    remove: {
                        icon: 'trash',
                        class: ' text-danger',
                        href: 'javascipt:void',
                        callback: 'deletePath',
                        has_content: false
                    },
                },

                arrow: 'icon-arrow-down'
            }
        },
        computed: {
            ...mapState('PATH', {
                paths: 'all',
                template_slug: 'template_slug',
                has_selected_path: 'has_selected_path',
                selected_slug: 'slug',
            }),
        },
        methods: {
            ...mapActions('PATH', [
                'addPath',
                'removePath',
                'setPathSlug',
                'update_status',
                'toggleForm'
            ]),
            ...mapActions('TEMPLATE', [
                'addTemplates',
                'setTemplateSlug'
            ]),
            ...mapActions('TRACKER', [
                'addTrackers'
            ]),
            ...mapActions('PROGRESSBAR', [
                'addProgressbar'
            ]),
            ...mapActions('EMAIL', [
                'addEmail'
            ]),
            getTemplates() {
                if(this.templates_count) return;

                axios.get('/api/templates')
                .then((data) => {
                    this.addTemplates( data.data);
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getTrackers()
            {
                axios.get('/api/trackers/')
                .then((data) => {
                    this.addTrackers( data.data);
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getCustomProgressBar()
            {
                axios.get('/api/custom-progress-bar/')
                .then((data) => {
                    this.addProgressbar(data.data);
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getEmailRecipients()
            {
                if(this.emails_count) return;

                axios.get('/api/email-recipients')
                .then((data) => {
                    for(let email of data.data) {
                        this.addEmail(email);
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getAllPaths() {
                if(this.paths.length) return;

                axios.get(`/api/paths?page=${this.pagination.current_page}`)
                .then((res) => {
                    this.pagination = res['data'].meta

                    console.log('paths: ', res);

                    for(let path of res['data'].data) {
                        this.addPath(path);
                    }
                })
                .catch((error) => {
                    console.log(error.toString());
                })
            },
            focus: function ($event, $slug) {
                if ($event.currentTarget.getAttribute('aria-expanded') == 'true'){
                    this.setActiveSlug('');
                    for(let nav in this.navigation) {
                        if(this.navigation[nav]['has_content']) this.navigation[nav]['class'] = '';
                    }
                    this.arrow = 'icon-arrow-down';
                    return;
                }

                this.setActiveSlug($slug);
                this.navigation['overview']['class'] = ' active show';
                this.arrow = 'icon-arrow-up';

            },
            displayContent ($nav, $slug) {
                this.setActiveSlug($slug);

                for(let nav in this.navigation) {
                    if(this.navigation[nav]['has_content']) this.navigation[nav]['class'] = '';
                }

                this.navigation[$nav]['class'] = ' active show';
                this.arrow = 'icon-arrow-up';

                let toggler = document.getElementById($slug + '-toggler');

                if(toggler.getAttribute('aria-expanded') == 'false') {
                    toggler.setAttribute("aria-expanded", "true");
                    // Content wrapper
                    document.getElementById($slug).classList.add('show');
                }

            },
            setActiveSlug ($slug) {
                this.setPathSlug($slug);
                this.setTemplateSlug(this.template_slug);
            },
            switchStatus(id, status, index){
                const confirmation = confirm("Are you sure to update the status?, you can revert this during your lifetime")
                if(!confirmation) {
                    event.preventDefault()
                    return false;
                }
                axios.patch('/api/paths/' + id, {
                    status: status
                },{
                    'Content-Type': 'application/x-www-form-urlencoded'
                })
                .then((datas) => {
                    let data = datas['data'];

                    if(this.update_status({
                        id: data.id,
                        status: data.status,
                        updated_by: data.updated_by,
                        date_updated: data.date_updated
                    })) this.$toaster.success(`Success updating path status`);

                })
                .catch((err) => {
                    console.log(error.toString());
                })
            },
            callback($function_name, index, data){
                if($function_name) this[$function_name](index, data);
            },
            deletePath ($index, $data)
            {
                const confirmation = confirm("Are you sure to remove this path?")
                if(!confirmation) {
                    event.preventDefault()
                    return false;
                }

                axios.delete('/api/paths/' + $data.id)
                .then((data) => {

                    if(!data.data.error) {
                        this.removePath($data.id);

                        alert('Done removing');
                        if(this.paths.length <= 0) {
                            this.pagination.to = 0;
                        }
                    } else {
                        alert(data.data.msg);
                    }
                })
                .catch((err) => {
                    switch (err.response.data) {
                        case 'UnAuthorized':
                            this.$toaster.error(err.response.data)
                            break;
                        default:
                            console.log(err.toString())
                            break;
                    }
                })
            }
        },
        created () {
            this.getTemplates();
            this.getTrackers();
            this.getCustomProgressBar();
            this.getEmailRecipients();
        },
        mounted() {
            this.getAllPaths();
        },
    }
</script>

<style scoped>
.nav-link.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
</style>
