<template>
    <section>
        <!-- TABS -->
        <nav-tabs></nav-tabs>

        <div class="tab-content">

            <spinner :loading="spinner" :size="'134px'" :type="'moon'"></spinner>

            <option-general ref="general" :slug="slug"></option-general>
            <option-themes ref="themes" :slug="slug"></option-themes>
            <option-header ref="header" :slug="slug"></option-header>
            <option-footer ref="footer" :slug="slug"></option-footer>
            <option-progress-bar ref="progressBar" :slug="slug"></option-progress-bar>
            <option-nav-bar ref="navBar" :slug="slug"></option-nav-bar>
            <option-content ref="content" :slug="slug"></option-content>
            <option-feedback ref="feedback" :slug="slug"></option-feedback>
            <option-style ref="style" :slug="slug"></option-style>
            <option-trackers ref="trackers" :slug="slug"></option-trackers>
            <option-terms ref="terms" :slug="slug"></option-terms>
            <option-privacy ref="privacy" :slug="slug"></option-privacy>
        </div>
    </section>
</template>

<script>
    import { mapState, mapActions } from 'vuex';

    import NavTabs from './_Options/NavTabs.vue';
    import OptionGeneral from './_Options/General.vue';
    import OptionThemes from './_Options/Themes.vue';
    import OptionHeader from './_Options/Header.vue';
    import OptionFooter from './_Options/Footer.vue';
    import OptionProgressBar from './_Options/ProgressBar.vue';
    import OptionNavBar from './_Options/NavBar.vue';
    import OptionContent from './_Options/Content.vue';
    import OptionFeedback from './_Options/Feedback.vue';
    import OptionStyle from './_Options/Style.vue';
    import OptionTrackers from './_Options/Trackers.vue';
    import OptionTerms from './_Options/Terms.vue';
    import OptionPrivacy from './_Options/Privacy.vue';

    export default {
        name: 'options',
        components : {
            NavTabs,
            OptionGeneral,
            OptionThemes,
            OptionHeader,
            OptionFooter,
            OptionProgressBar,
            OptionNavBar,
            OptionContent,
            OptionFeedback,
            OptionStyle,
            OptionTrackers,
            OptionTerms,
            OptionPrivacy
        },
        props: ['slug'],
        data() {
            return {
                options: {
                    general:  {
                    },
                    header:  {
                        show_header: 'true',
                        show_background_color: 'true',
                        show_header_text: 'true',
                    },
                    themes:  {
                        template: 'default'
                    },
                    nav_bar:  {
                        show_nav_bar: 'true',
                    },
                    progress_bar:  {
                        show_progress_bar: 'true'
                    },
                    footer:  {
                        show_footer: 'true'
                    },
                    content:  {
                    },
                    style:  {
                    },
                    trackers: {
                        files: []
                    },
                    feedback: {
                        show_feedback: 'true',
                        email_recipients: []
                    }
                },
                spinner: false


            }
        },
        computed: {
            ...mapState('PATH', {
                path: 'current'
            })
        },
        methods: {
            toggleSpinner ($spin)
            {
                this.spinner = $spin;
            }
        }
    }
</script>

<style media="screen" scoped>
.template-wrap .card-footer button {
    display: none;
}
.template-wrap:hover .card-footer button {
    display: inline-block;
}
</style>
