<template>
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">
						Overview
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">
						Time Line
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="general" role="tabpanel">
					<div class="theme-info">
						<ul class="list-group">
							<li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
								<h6>Current Theme</h6>
								<span class="current-theme">{{ capitalize(template.name) }} </span>
								<span class="badge badge-primary badge-pill">&nbsp;{{ template.version }}</span>
							</li>
							<li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
								<h6>Created by</h6>
								<span class="current-creator"> {{ path.created_by }}</span>
								<span class="">&nbsp;</span>
							</li>
							<li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
								<h6>Path URL</h6>
								<span class="current-url"> {{ path.url }}</span>
								<span class="">&nbsp;</span>
							</li>
							<li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
								<h6>Status</h6>
								<span v-show="path.status" class="badge badge-pill badge-success" style="font-size: 14px;">Active</span>
								<span v-show="!path.status" class="badge badge-pill badge-danger" style="font-size: 14px;">Inactive</span>
							</li>
						</ul>
						<div class="list-group">
							<div class="list-group-item list-group-item-action flex-column align-items-start active">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">{{ path.name }}</h5>
								</div>
								<hr />
								<div v-html="path.description"></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6">
			<ul class="nav">
				<li style="display: block; padding: 0.5rem 1rem; color: #536c79">
					Preview: Landing Page
				</li>
			</ul>
			<div class="path-preview" style="overflow: hidden; height: 812px; overflow-y: hidden;}">
				<div style="position: absolute; height: inherit; width: 92%; background-color: transparent;"></div>
				<iframe v-if="path.status" :src="preview_src"  style="width: 100%; border: 1px solid #c2cfd6; padding: 1px; height: -webkit-fill-available; display: flex; flex-flow: column; width: 100%;"></iframe>
				<img v:else style="background: url('http://www.path.local/img/default/404.png'); background-position: center; background-size: cover ;width: 100%; height: 100%;"/>
			</div>
		</div>
	</div>
</template>

<script>
    import { mapState, mapActions } from 'vuex';

	export default {
		name: 'overview-path',
		data() {
			return {
				iframe_src: '',
			}
		},
        computed: {
            ...mapState('PATH', {
                path: 'current',
                preview_src: 'preview_src'
            }),
            ...mapState('TEMPLATE', {
                templates: 'all',
                template: 'current',
            })
        },
		methods: {
		}
	}
</script>

<style lang="css" scoped>
	.theme-description p,
	p {
		margin-bottom: 0px;
	}
</style>
