<template>
        <modal
            name="theme-details"
            transition="nice-modal-fade"
            :width="'75%'"
            :height="'auto'"
            :pivotX="0.75"
            :delay="100"
            :scrollable="true"
            :adaptive="true"
            :resizable="false"
        >
            <div class="modal-header" style="xmargin-top: 55px;">
                <button type="button" class="close"  data-dismiss="modal" @click="closeModal" style="border-left: 1px solid #c2cfd6">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="theme-screenshot" style="overflow: hidden; height: 600px; overflow-y: scroll;}">
                            <img style="width: 100%; border: 1px solid #c2cfd6; padding: 1px" :src="selected('screenshot_src')" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="theme-info">
                            <span  v-show="template_slug == selected('slug')" class="current-label">Current Theme</span>
                            <h2 class="theme-name">{{ selected('name') }} <span class="theme-version"> {{ selected('version') }}</span></h2>
                            <p class="theme-author">By <a href="">{{ selected('creator') }}</a></p>
                            <div class="list-group">
    							<div class="list-group-item list-group-item-action flex-column align-items-start active">
    								<div v-html="selected('description')"></div>
    							</div>
    						</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="xmargin-bottom: 40px;">
                <button  v-show="template_slug != selected('slug')" type="button" class="btn btn-lg btn-info mb-3 mb-md-0 mr-md-3" @click="submitTemplate(selected('slug'))">Activate</button>
                <a :href="'/preview/' + selected('slug')" class="btn btn-lg btn-outline-primary mb-3 mb-md-0 mr-md-3" target="_blank">Live preview</a>
            </div>
        </modal>
</template>

<script>
    import { mapState, mapGetters, mapActions } from 'vuex';

    export default {
        name: 'template-preview',
        data() {
            return {

            }
        },
        computed: {
            ...mapState('TEMPLATE', {
                templates: 'all',
                template_slug: 'slug',
                preview_slug: 'preview_slug',
            })
        },
        methods: {
            ...mapActions('TEMPLATE', [

            ]),
            selected ($property) {
                let selected = this.templates[this.preview_slug];

                if(!selected) return '';
                if(!selected.hasOwnProperty($property)) return '';

                return selected[$property];
            },
            submitTemplate ($slug) {
                this.$parent.$refs.options[0].$refs.themes.updateFromInputs({
                    key: 'template',
                    value: $slug
                });
            },
            closeModal () {
                this.$modal.hide('theme-details');
            },
        },
        mounted() {
        },
    }
</script>

<style scoped>
.overview.active,
.option.active,
.update.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
</style>
