<template>
	<div class="card">

		<div class="card-body">
			<form enctype="multipart/form-data" class="form-horizontal" @submit.prevent="update()">
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="text-input">Path Name</label>
					<div class="col-md-9">
						<input v-model="path.name" type="text" class="form-control">
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="text-input">Path URL</label>
					<div class="col-md-9">
						<input v-model="path.url" type="text" class="form-control" readonly>
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="textarea-input">Status</label>
					<div class="col-md-9">
						<label class="switch switch-text switch-pill switch-primary">
							<input name="my-checkbox" type="checkbox" class="switch-input" :checked="path.status" :value="path.status" >
							<span class="switch-label" data-on="On" data-off="Off" @click="path.status = !path.status"></span>
							<span class="switch-handle" @click="path.status = !path.status"></span>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="textarea-input">Descriptions</label>
					<div class="col-md-9">
						<vue-editor :id="path.slug + '-editor'" v-model="path.description"></vue-editor>
					</div>
				</div>
			</form>
		</div>
		<div class="card-footer">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
	</div>
</template>


<script>
    import { mapState, mapActions } from 'vuex';

	import { VueEditor } from 'vue2-editor'
	export default {
		name: 'update-path',
		components: {
			VueEditor
		},
		data() {
			return {
			}
		},
        computed: {
            ...mapState('PATH', {
                path: 'current'
            })
        },
		methods: {
			...mapActions('PATH', [
				'reloadPreviewSrc'
			]),
			update() {
				let self = this;
	            let parameters ={};
	            let excluded = ['url', 'slug', 'created_by', 'updated_by', 'date_created', 'date_updated', 'options'];

				if(this.path.status) this.path.status = 1;
				else this.path.status = 0;

	            for(var key in this.path) {
					if(excluded.indexOf(key) == -1 && self.path[key] != null) parameters[key] =  this.path[key];
				}

	            axios.put('/api/paths/' + this.path.id, parameters, { 'Content-Type': 'application/x-www-form-urlencoded'})
	            .then((data) => {
	                if(!data.data.error) alert(`${this.path.name} is updated`);
	                else  alert(data.data.msg);
	            })
	            .catch((error) => {
					console.log(error);
	            })
				.finally (() => {
					this.reloadPreviewSrc();
				})
			},
			filter(array) {
				var index = -1,
				arr_length = array ? array.length : 0,
				resIndex = -1,
				result = [];

				while (++index < arr_length) {
					var value = array[index];

					if (value) {
						result[++resIndex] = value;
					}
				}

				return result;
			}
		}
	}
</script>
